@using VDMMutiline.Dao
@using CaptchaMvc.HtmlHelpers
@using VDMMutiline.SharedComponent.Constants
@using VDMMutiline.SharedComponent.EntityInfo
@using VDMMutiline.SharedComponent.Params
@using VDMMutiline.Ultilities
@using VDMMutiline.Core.Common
@using VDMMutiline.Core.UI;
@using Microsoft.AspNet.Identity
@using VDMMutiline.Core
@using Microsoft.AspNet.Identity.Owin
@{
    Layout = "~/Views/Shared/_LayouIndex.cshtml";
    var curentDomain = SiteMuti.Getsitename();
    var CurentUser = CommonUI.GetInforByDomain(curentDomain);
    var setting = CommonUI.GetSettingByDomain(curentDomain, true);
}
<style>

    img#CaptchaImage {
        width: 50%;
        height: 50px;
    }

    input#CaptchaInputText {
        width: 47%;
        float: right;
        border: 1px solid #d4d4d4;
        height: 49px;
        font-size: 35px;
        padding-top: 0px;
        padding-left: 5px;
        font-weight: bold;
    }

    .divcapchar br {
        display: none;
    }
    .divcapchar a {
        display: none none !important;
    }
</style>
@section Header{
    <title>Liên hệ | @curentDomain.ToUpper()</title>
}
@Html.Action("HeaderDetail", "Control")
<div class="hidden1 bgSelect" style="
    margin-top: 46px;
">
    <div class="row  top log logfix" style="">
        <div class="col-xs-12 cb">
            LIÊN HỆ
        </div>

    </div>
    <div class="clearfix"></div>
    <div class="contentdetail">
        <div class="row">
            <img src="/Content/lienhebg.PNG" width="320" style="width: 100%;" />

            <div style="    top: 130px;font-size: 14px;color: #fff;padding-left: 8px;padding-right: 8px;position: absolute;">
                <p style="margin-bottom: 0px;font-weight: 600;">@(curentDomain.ToUpper())</p>
                <p style="margin-bottom: 0px;">Địa chỉ : @UIUty.GetsettingByKey(setting, "PRT_ADDRESS")</p>
                <p style="margin-bottom: 0px;">Điện thoại :@CurentUser.PhoneNumber</p>
                <p style="margin-bottom: 0px;">
                    Email: @UIUty.GetsettingByKey(setting, "PRT_EMAIL")
                </p>
            </div>

        </div>
        @using (Html.BeginForm("Index", "About", FormMethod.Post, new { @class = "form-horizontal", @data_parsley_validate = "", id = "flightSearch", @role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div style="font-size:13px;">
                <div class="row bgSelect1 pad4">
                    <span class="money">HỌ TÊN:</span><br />
                    <input name="txtName" required="required" type="text" id="txtName" class="form-control">
                </div>
                <div class="row bgSelect1 pad4">
                    <span class="money">EMAIL:</span><br />
                    <input name="txtEmail" required="required" type="text" id="txtEmail" class="form-control">
                </div>
                <div class="row bgSelect1 pad4">
                    <span class="money">LỜI NHẮN:</span><br />
                    <textarea name="txtMess" required="required" type="text" id="txtMess" class="form-control" textmode="MultiLine" columns="36"></textarea>
                </div>
                <div class="row bgSelect1 pad4 divcapchar">
                    @Html.MathCaptcha("", "", "Thông tin bắt buộc", true)
                </div>
                <div class="row bgSelect1 pad4 divcapchar">
                    <p style="color:red"> @Html.Raw( ViewBag.Erro)</p>
                </div>
            </div>
            <div style="margin-top:50px;"> &nbsp;</div>
            <div class="row bottom log32 log4" style="width: 100%;">
                <button type="submit" class="btt">GỬI LỜI NHẮN</button>
            </div>
        }

    </div>

</div>


