@model VDMMutiline.SeachAndBook.SeachParam
<link href="/Content/FontEnd/SeachValue/SearchBoxQuickly.css" rel="stylesheet" />
<link href="/Content/FontEnd/SeachValue/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" type="text/css">
<script src="/Content/FontEnd/Seach/Picker/ui.datepicker.lunar.min.js"></script>
<script src="/Content/FontEnd/Seach/Picker/jquery.ui.datepicker-en-GB.js"></script>
<script src="/Content/FontEnd/Seach/Picker/jquery.ui.datepicker-vi.js"></script>
<link href="/Content/FontEnd/SeachValue/DomesticFlight.css" rel="stylesheet" type="text/css">
<script src="/Content/FontEnd/SeachValue/Result.js" type="text/javascript"></script>
<script src="/Content/FontEnd/SeachValue/format.js" type="text/javascript"></script>
<link href="/Content/FontEnd/Seach/SelectCityBox.css" rel="stylesheet" />
<style>
    .PaxDropDown {
        width: 99%;
    }

    input#txtStartPoint {
        width: 99% !important;
    }

    input#txtStartPoint {
        width: 99% !important;
    }

    input#txtEndPoint {
        width: 99% !important;
    }

    div#flight-search {
        margin-top: 10px;
    }

    #search-body table {
        width: 100%;
    }

    #search-body #passenger td {
        width: auto !important;
    }
</style>
@using (Html.BeginForm("Seach", "SeachHome", FormMethod.Post, new { onsubmit = "submitseachome()", @data_parsley_validate = "", id = "frCreateSeachHomde", @role = "form" }))
{
    <input type="hidden" id="lang" value="vi-VN">
    <input id='cheapest' checked="checked" style="display:none" type="checkbox" name="checktimvere" /><span style="display:none" id='findcheapest' onclick='$("#cheapest").click()'>
        Tìm vé rẻ nhất
    </span>
    <div id="flight-search">
        <div id="seach-box" class="seach-boxvethang" style="    width: 100%;">
            <div id='search-head'>
                <div id='search-title' class='left uppercase search-titlevethang'>
                    CHUYẾN BAY CỦA BẠN
                </div>
            </div>
            <div id='search-body' class="search-bodyVthang">
                <div id='search-type'>
                    <div class='radio' style="    margin-left: 25px;    margin-top: -6px;">
                        <input @(Model != null ? (Model.Itinerary == 1 ? "checked='checked'" : "") : "") class="ItineraryRadio" id="rdbOneWay" onclick="onOneWay();" type="radio" onchange="ToggleDatepicker()" name="ItineraryType" value="1"><span onclick="$('#rdbOneWay').click();">Một chiều</span>
                    </div>
                    <div class='radio' style="    margin-left: 25px;">
                        <input @(Model != null ? (Model.Itinerary == 2 ? "checked='checked'" : "") : "") class="ItineraryRadio" id="rdbRoundTrip" onclick="onTwoWay();" type="radio" onchange="ToggleDatepicker()" name="ItineraryType" value="2"><span onclick="$('#rdbRoundTrip').click();">Khứ hồi</span>
                    </div>
                </div>
                <table id="flight" style="width: 100%;">
                    <tr>
                        <td>
                            Điểm khởi hành
                        </td>
                        <td>
                            Điểm đến
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="hidden" name="hdfStartPointValue" id="hdfStartPointValue">
                            <input type="hidden" name="hdfStartPoint" id="hdfStartPoint" value="@(Model!=null?Model.DepartureAirportCode:"")">
                            <input name="txtStartPoint" required type="text" style='margin-right: 15px;' value="@(Model!=null?Model.DepartureAirportCode:"")" readonly="readonly" id="txtStartPoint" class="TextBox cursor">
                            <div id="pnStartCity" class="SelectCityBox ShadowBold" style="">
                                <div class="SelectCityBoxHeader">
                                    Chọn thành phố, sân bay đi
                                    <div class="Close">
                                        <a id="btnCloseStartCity"> Đóng</a>
                                    </div>

                                    <div class="clear"></div>
                                </div>
                                @Html.Partial("~/Views/Shared/_PartialPNstarCity.cshtml")
                            </div>

                            <div class="clear"></div>
                        </td>
                        <td>
                            <input type="hidden" name="hdfEndPointValue" id="hdfEndPointValue">
                            <input type="hidden" name="hdfEndPoint" id="hdfEndPoint" value="@(Model!=null?Model.DestinationAirportCode:"")">
                            <input name="txtEndPoint" required type="text" value="@(Model!=null?Model.DestinationAirportCode:"")" readonly="readonly" id="txtEndPoint" class="TextBox cursor">
                            <div id="pnEndCity" class="SelectCityBox ShadowBold" style="">
                                <div class="SelectCityBoxHeader">
                                    Chọn thành phố, sân bay đến
                                    <div class="Close">
                                        <a id="btnCloseEndCity">Đóng</a>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                @Html.Partial("~/Views/Shared/_PartialPNEndCity.cshtml")
                            </div>
                            <div class="clear"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Tháng đi
                        </td>
                        <td>
                            <div id="ngayvetieude">Tháng về</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select name="ddlStartMonth" onchange="OnChangedDropDownMonth()" id="ddlStartMonth" class="PaxDropDown">
                                @{

                                    for (DateTime i = DateTime.Now; i <= DateTime.Now.AddMonths(8); i = i.AddMonths(1))
                                    {

                                        <option @(string.Format("{0}/{1}", i.Month, i.Year) == Model.StartMonth ? "selected='selected'" : "") value="@(string.Format("{0}/{1}",i.Month,i.Year))">Tháng @(string.Format("{0}/{1}", i.Month, i.Year))</option>

                                    }

                                }
                            </select>
                        </td>
                        <td>
                            <div id="divtxtReturnDate" style="width: 100%">
                                <select name="ddlEndMonth" id="ddlEndMonth" data-bind="value: numberOfPassengers" class="PaxDropDown"></select>
                            </div>
                        </td>
                    </tr>
                </table>
                <table id="passenger">
                    <tr>
                        <td>
                            Người lớn (12+)
                        </td>
                        <td>
                            Trẻ em (2-11)
                        </td>
                        <td>
                            Em bé (0-1)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select name="ddlAdult" id="ddlAdult" class="PaxDropDown">
                                <option @(Model != null ? (Model.Adult == 1 ? "selected='selected'" : "") : "selected='selected'") value="1">1</option>
                                <option @(Model != null ? (Model.Adult == 2 ? "selected='selected'" : "") : "'") value="2">2</option>
                                <option @(Model != null ? (Model.Adult == 3 ? "selected='selected'" : "") : "'") value="3">3</option>
                                <option @(Model != null ? (Model.Adult == 4 ? "selected='selected'" : "") : "'") value="4">4</option>
                                <option @(Model != null ? (Model.Adult == 5 ? "selected='selected'" : "") : "'") value="5">5</option>
                                <option @(Model != null ? (Model.Adult == 6 ? "selected='selected'" : "") : "'") value="6">6</option>
                                <option @(Model != null ? (Model.Adult == 7 ? "selected='selected'" : "") : "'") value="7">7</option>
                                <option @(Model != null ? (Model.Adult == 8 ? "selected='selected'" : "") : "'") value="8">8</option>
                                <option @(Model != null ? (Model.Adult == 9 ? "selected='selected'" : "") : "'") value="9">9</option>
                            </select>
                        </td>
                        <td>
                            <select name="ddlChild" id="ddlChild" class="PaxDropDown">
                                <option @(Model != null ? (Model.Children == 0 ? "selected='selected'" : "") : "selected='selected'") value="0">0</option>
                                <option @(Model != null ? (Model.Children == 1 ? "selected='selected'" : "") : "'") value="1">1</option>
                                <option @(Model != null ? (Model.Children == 2 ? "selected='selected'" : "") : "'") value="2">2</option>
                                <option @(Model != null ? (Model.Children == 3 ? "selected='selected'" : "") : "'") value="3">3</option>
                                <option @(Model != null ? (Model.Children == 4 ? "selected='selected'" : "") : "'") value="4">4</option>
                                <option @(Model != null ? (Model.Children == 5 ? "selected='selected'" : "") : "'") value="5">5</option>
                                <option @(Model != null ? (Model.Children == 6 ? "selected='selected'" : "") : "'") value="6">6</option>
                                <option @(Model != null ? (Model.Children == 7 ? "selected='selected'" : "") : "'") value="7">7</option>
                                <option @(Model != null ? (Model.Children == 8 ? "selected='selected'" : "") : "'") value="8">8</option>
                                <option @(Model != null ? (Model.Children == 9 ? "selected='selected'" : "") : "'") value="9">9</option>
                            </select>
                        </td>
                        <td>
                            <select name="ddlInfant" id="ddlInfant" class="PaxDropDown">
                                <option @(Model != null ? (Model.Infant == 0 ? "selected='selected'" : "") : "selected='selected'") value="0">0</option>
                                <option @(Model != null ? (Model.Infant == 1 ? "selected='selected'" : "") : "'") value="1">1</option>
                                <option @(Model != null ? (Model.Infant == 2 ? "selected='selected'" : "") : "'") value="2">2</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <div id='search-footer'>
                    <div class='left'>
                    </div>
                    <div class='right'>
                        <button type="submit" class='button-blue left'>Tìm chuyến bay</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
}
<div id="SeachHome_popup" style="display: none" class="bbpopub">
    <div class="imageAjaxLoading">
        <img src="~/Content/FontEnd/Popup/loading.gif" />
    </div>
</div>
<script src="/Content/FontEnd/Popup/jquery.bpopup.js"></script>
<link href="/Content/FontEnd/Popup/Popubcss.css" rel="stylesheet" />
<script type="text/javascript" language="javascript">
    function onOneWay() {
        $("#rdbOneWay").attr("checked", true);
    }

    function onTwoWay(e) {
        $("#rdbRoundTrip").attr("checked", true);
    }

    function submitseachome() {

        var form = $('#frCreateSeachHomde');
        if (form.parsley().isValid() == true) {
            $('#SeachHome_popup').bPopup({
                modalClose: false,
                opacity: 0.6,
                positionStyle: 'fixed'
            });
            return true;
        }
        return false;
    }


</script>
<script>

    $(document).ready(function () {
        OnChangedDropDownMonth();
        airScript();
        $('#btnCloseStartCity').bind('click', function () {
            $('#pnStartCity').toggle("fast", '');
        });

        $('#btnCloseEndCity').bind('click', function () {
            $('#pnEndCity').toggle("fast", '');
        });

        $("#txtStartPoint").bind('click', function () {
            $('#txtStartPoint').val('');
            $('#pnStartCity').toggle("fast", '');
            $('#pnEndCity').hide();
        });

        $("#txtEndPoint").bind('click', function () {
            $('#txtEndPoint').val('');
            $('#pnEndCity').toggle("fast", '');
            $('#pnStartCity').hide();
        });
        SearchAutoCompleteStartPoint();
        SearchAutoCompleteEndPoint();

    });
    function OnChangedDropDownMonth() {
        $("#ddlEndMonth option").remove();
        var index = $("#ddlStartMonth").find(":selected").index();
        var valueold ='@Model.EndMonth';
        for (var i = index; i < 12; i++) {
            var itemValue = $('#ddlStartMonth option').eq(i).val();
            var itemText = $('#ddlStartMonth option').eq(i).text();


            var option = new Option(itemText, itemValue);
            if (valueold == itemValue) {
                option.selected = true;
            }
            $("#ddlEndMonth").append($(option));
        }
    }


    function ToggleDatepicker() {
        var check_value = $('.ItineraryRadio:checked').val();
        if (check_value == 1) {
            $("#divtxtReturnDate").attr('style', 'visibility: hidden;');
            $("#ngayvetieude").attr('style', 'visibility: hidden;');

            $("#txtReturnDate").removeAttr("required");
        }
        else {
            $("#divtxtReturnDate").attr('style', 'visibility: visible;');
            $("#ngayvetieude").attr('style', 'visibility: visible;');
            $("#divtxtReturnDate").datepicker("option", "minDate", $("#txtDepartureDate").datepicker("getDate"));
            $("#txtReturnDate").attr("required", "");
        }
    }

    function airScript() {
        $(document.body).mousedown(function (event) {
            var target = $(event.target);
            if (!target.parents().andSelf().is('#pnStartCity') && !target.parents().andSelf().is('#ui-id-1') && !target.parents().andSelf().is("#txtStartPoint")) { // Clicked outside
                $('#pnStartCity').hide("fast", '');
            }
            if (!target.parents().andSelf().is('#pnEndCity') && !target.parents().andSelf().is('#ui-id-2') && !target.parents().andSelf().is("#txtEndPoint")) { // Clicked outside
                $('#pnEndCity').hide("fast", '');
            }
        });

    }

    function SearchAutoCompleteStartPoint() {
        $("#txtStartPoint").autocomplete({
            source: function (request, response) {
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "@System.Configuration.ConfigurationManager.AppSettings["SearchAirportInSiteUrl"]"+"?key="+ $("#txtStartPoint").val(),
                    success: function ( data ) {
                        response( $.map( data, function ( item ) {
                            var label = "<b>" + item.AirportName + " (" + item.AirportCode + ")</b> <b style='float:right;color:#FF6600;clear:both;white-space: nowrap;'>" + item.CountryName + "</b>"
                            var labeldisplay = item.AirportName + ", " + item.CountryName + " - (" + item.AirportCode + ")";
                            return { labeldisplay: labeldisplay, label: label, value: item.AirportCode };
                        } ) );
                          $('#pnStartCity').hide();
                    }
                });
            },
            select: function (event, ui) {
                event.preventDefault();
                $('#hdfStartPoint').val(ui.item.value);
                $("#txtStartPoint").val(ui.item.labeldisplay);
                $('#pnStartCity').hide();
                $('#pnEndCity').show();
            },
             minLength: 3
        });
    }
    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    }
    function SearchAutoCompleteEndPoint() {
        $("#txtEndPoint").autocomplete({
            source: function (request, response) {
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "@System.Configuration.ConfigurationManager.AppSettings["SearchAirportInSiteUrl"]"+"?key="+ $("#txtEndPoint").val(),
                    dataType: "json",
                    success: function ( data ) {
                        response( $.map( data, function ( item ) {
                            var label = "<b>" + item.AirportName + " (" + item.AirportCode + ")</b> <b style='float:right;color:#FF6600;clear:both;white-space: nowrap;'>" + item.CountryName + "</b>"
                            var labeldisplay = item.AirportName + ", " + item.CountryName + " - (" + item.AirportCode + ")";
                            return { labeldisplay: labeldisplay, label: label, value: item.AirportCode };
                        } ) );
                          $('#pnEndCity').hide();
                    }
                });
            },
            select: function (event, ui) {
                event.preventDefault();
                $('#hdfEndPoint').val(ui.item.value);
                $("#txtEndPoint").val(ui.item.labeldisplay);
                $('#pnEndCity').hide();
                setTimeout(function () {
                    $("#txtDepartureDate").datepicker('show');
                }, 16);
            },
             minLength: 3
        });
    }
</script>
