@using VDMMutiline.Core.UI
@using VDMMutiline.Dao
@using VDMMutiline.SharedComponent.EntityInfo
@model VDMMutiline.SeachAndBook.VDMFareDataInfo
@{
    Layout = null;
    var ReturnFlights = Model;
    var PriceAdult = UIUty.ChuyenDoiTienTe(ReturnFlights.FareAdt);
    var PriceChild = UIUty.ChuyenDoiTienTe(ReturnFlights.FareChd);
    var PriceInfant = UIUty.ChuyenDoiTienTe(ReturnFlights.FareInf);
    var FeeAdult = UIUty.ChuyenDoiTienTe(ReturnFlights.FeeAdt);
    var FeeChild = UIUty.ChuyenDoiTienTe(ReturnFlights.FeeChd);
    var FeeInfant = UIUty.ChuyenDoiTienTe(ReturnFlights.FeeInf);
    var TaxAdult = UIUty.ChuyenDoiTienTe(ReturnFlights.TaxAdt);
    var TaxChild = UIUty.ChuyenDoiTienTe(ReturnFlights.TaxChd);
    var TaxInfant = UIUty.ChuyenDoiTienTe(ReturnFlights.TaxInf);
    var tongtiennguoilon = (ReturnFlights.Adt * (PriceAdult + FeeAdult + TaxAdult));
    var tongtientrem = (ReturnFlights.Chd * (PriceChild + FeeChild + TaxChild));
    var congtienembe = (ReturnFlights.Inf * (PriceInfant + FeeInfant + TaxInfant));
    var TotalPrice = tongtiennguoilon + tongtientrem + congtienembe;
    var Currency = UIUty.GetDonViTienTe();
}
@functions{
    private string getsanbaycode(string code)
    {
        var obj = VDMMutiline.Ultilities.Station.Getbycode(code);
        if (obj != null)
            return obj.AirportName;
        return "";
    }
}
<div class="WhiteBox border-radius-all">
    <div class="ItineraryBox">
        <table style="width:100%">
            <tbody>
                @foreach (var item in Model.ListFlight)
                {
                    foreach (var ListAvailFlights in item.ListSegment)
                    {

                        <tr>
                            <td>
                                <table style="width:100%">
                                    <tr>
                                        <td class="ItineraryBox-Carrier" style="    text-align: left;">
                                            <div class="CarrierLogo">
                                                <img alt="Airline logo" src="@UIUty.GetImagebyHang(ReturnFlights.Airline)">
                                            </div>
                                            <div class="CarrierName">
                                                @UIUty.GetNamebyHang(ReturnFlights.Airline)
                                            </div>
                                            @if (ReturnFlights.IsVNJQ == true)
                                            {
                                        <div class="operated-by-bl">bay Pacific</div>
                                            }
                                        </td>
                                        <td class="ItineraryBox-FlightInfo" style="    text-align: left;">
                                            @VDMMutiline.Resource.App_GlobalResources.weblanguage.flight: <strong class="col2">@ListAvailFlights.FlightNumber</strong> <br />
                                            @VDMMutiline.Resource.App_GlobalResources.weblanguage.Flight_time: <strong class="col2">
                                                @UIUty.GetTimeString(ReturnFlights.Duration)
                                            </strong>
                                        </td>
                                        <td class="ItineraryBox-FlightInfo" style="    text-align: right;">
                                            <span>@VDMMutiline.Resource.App_GlobalResources.weblanguage.Class: <strong class="col2">@ListAvailFlights.Class </strong> <br /></span>
                                            <span>@VDMMutiline.Resource.App_GlobalResources.weblanguage.Aircraff: <strong class="col2">@ListAvailFlights.Plane </strong> <br /></span>
                                        </td>
                                    </tr>
                                </table>
                                <table style="width:100%;margin-top:15px">

                                    <tr>
                                        <td class="ItineraryBox-Depart">
                                            <div class="City">
                                                @(getsanbaycode(ListAvailFlights.StartPoint))
                                            </div>
                                            <span class="Hour">
                                                @(ListAvailFlights.StartTime.ToString("HH:mm"))
                                            </span>
                                            <br />
                                            <span class="Date">@(ListAvailFlights.StartTime.ToString("dd/MM/yyyy"))</span>
                                        </td>
                                        <td class="ItineraryBox-Direct">
                                            <div><span class="FltNum"><span class="ItineraryBox-FlightInfo-Title">Chuyến bay:</span> <strong class="col2">@ListAvailFlights.FlightNumber</strong></span></div>
                                            <div class="ItineraryBox-Direct-Picture"><img src="/Content/FontEnd/SeachValue/Styles/flight-direct.png"></div>
                                            <div><span class="FltTime"><span class="ItineraryBox-FlightInfo-Title">Thời gian bay:</span> <strong class="col2">@UIUty.GetTimeString(ListAvailFlights.Duration)</strong></span></div>
                                        </td>
                                        <td class="ItineraryBox-Arrival">
                                            <div class="City">
                                                @(getsanbaycode(ListAvailFlights.EndPoint))
                                            </div>
                                            <span class="Hour">
                                                @(ListAvailFlights.EndTime.ToString("HH:mm"))<br>
                                            </span>
                                            <span class="Date">@(ListAvailFlights.EndTime.ToString("dd/MM/yyyy"))</span>
                                        </td>
                                    </tr>
                                </table>
                            </td>


                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <div class="BorderTop">
        <div class="DetailPriceBox">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="TablePrice">
                <tbody>
                    <tr>
                        <td class="ItemHeader">
                            @VDMMutiline.Resource.App_GlobalResources.weblanguage.Passengers
                        </td>
                        <td class="ItemHeader" align="center">
                            @VDMMutiline.Resource.App_GlobalResources.weblanguage.Amount
                        </td>

                        <td class="ItemHeader" align="right">
                            @VDMMutiline.Resource.App_GlobalResources.weblanguage.Price
                        </td>
                        <td class="ItemHeader" align="right">
                            @VDMMutiline.Resource.App_GlobalResources.weblanguage.Taxes_and_fees
                        </td>
                        <td class="ItemHeader" align="right">
                            @VDMMutiline.Resource.App_GlobalResources.weblanguage.Total_price
                        </td>
                    </tr>
                    <tr style="">
                        <td>
                            @VDMMutiline.Resource.App_GlobalResources.weblanguage.Adults
                        </td>
                        <td align="center">
                            @ReturnFlights.Adt
                        </td>

                        <td class="ItemPrice">
                            @PriceAdult.ToString("#,0.#") <span class="Currency"> @Currency</span>
                        </td>
                        <td class="ItemPrice">
                            @((FeeAdult + TaxAdult).ToString("#,0.#")) <span class="Currency"> @ReturnFlights.Currency</span>
                        </td>
                        <td class="ItemPrice">
                            @((ReturnFlights.Adt * (PriceAdult + FeeAdult + TaxAdult)).ToString("#,0.#"))<span class="Currency"> @Currency</span>
                        </td>
                    </tr>
                    @if (Model.Chd > 0)
                    {
                        <tr>
                            <td>
                                @VDMMutiline.Resource.App_GlobalResources.weblanguage.Children
                            </td>
                            <td align="center">
                                @ReturnFlights.Chd
                            </td>

                            <td class="ItemPrice">
                                @PriceChild.ToString("#,0.#")  <span class="Currency"> @Currency</span>
                            </td>
                            <td class="ItemPrice">
                                @((FeeChild + TaxChild).ToString("#,0.#")) <span class="Currency"> @Currency</span>
                            </td>
                            <td class="ItemPrice">
                                @((ReturnFlights.Chd * (PriceChild + FeeChild + TaxChild)).ToString("#,0.#"))<span class="Currency"> @Currency</span>
                            </td>
                        </tr>
                    }
                    @if (Model.Inf > 0)
                    {
                        <tr>
                            <td>
                                @VDMMutiline.Resource.App_GlobalResources.weblanguage.Infants
                            </td>
                            <td align="center">
                                @ReturnFlights.Inf
                            </td>

                            <td class="ItemPrice">
                                @PriceInfant.ToString("#,0.#")  <span class="Currency"> @Currency</span>
                            </td>
                            <td class="ItemPrice">
                                @((FeeInfant + TaxInfant).ToString("#,0.#")) <span class="Currency"> @Currency</span>
                            </td>
                            <td class="ItemPrice">
                                @((ReturnFlights.Inf * (PriceInfant + FeeInfant + TaxInfant)).ToString("#,0.#"))<span class="Currency"> @Currency</span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="TotalPriceBox">
        <b>@VDMMutiline.Resource.App_GlobalResources.weblanguage.Total_price:</b>
        <span class="GrandTotalPrice">@TotalPrice.ToString("#,0.#") </span>
        <span class="Currency">@Currency</span>
    </div>
    <div class="Content BorderTop" style="display: block; padding: 10px;">
        <b>@VDMMutiline.Resource.App_GlobalResources.weblanguage.Conditions_of_tickets</b>
        @if (ReturnFlights.Promo)
        {
            @Html.Raw(UIUty.GetHanhLyKyGuikhuyenmai(ReturnFlights.Airline, ReturnFlights.FareClass,ReturnFlights.Ishow23KgVN??false,
            ReturnFlights.IsVNJQ ?? false,
           ReturnFlights.IsVNJQ0Kg ?? false))
        }
        else
        {
            @Html.Raw(UIUty.GetHanhLyKyGui(ReturnFlights.Airline, ReturnFlights.FareClass,ReturnFlights.Ishow23KgVN??false,
            ReturnFlights.IsVNJQ ?? false,
           ReturnFlights.IsVNJQ0Kg ?? false))
        }
    </div>
</div>