@model VDMMutiline.SeachAndBook.SeachParam
@using VDMMutiline.Dao;
@using VDMMutiline.Core.UI
@using VDMMutiline.SharedComponent.EntityInfo
@{
    Layout = null;
    var index = 1000;
    var indexvedi = 1000;
    var indexveve = 1000;
    var indexdetail = 1000;
    var indexdetailrt = 1000;
}
@functions{

    private string getsanbaycode(string code)
    {
        var obj = VDMMutiline.Ultilities.Station.Getbycode(code);
        if (obj != null)
            return obj.AirportName;
        return "";
    }
    public string getsanbaycode(List<ApiClient.Models.Airport> lst, string code)
    {

        var obj = lst.FirstOrDefault(z => z.AirportCode == code);
        //  var obj = dao.Getstringbycode(code);
        if (obj != null)
            return obj.AirportName;
        return "";
    }
}
@if (Model != null)
{
    var listStation = ViewBag.listStation as List<ApiClient.Models.Airport>;
    foreach (var item in Model.LstFareData)
    {
        var FeeAdult = UIUty.ChuyenDoiTienTe(item.FeeAdt);
        var FeeChild = UIUty.ChuyenDoiTienTe(item.FeeChd);
        var FeeInfant = UIUty.ChuyenDoiTienTe(item.FeeInf);
        var FareAdult = UIUty.ChuyenDoiTienTe(item.FareAdt);
        var FareChild = UIUty.ChuyenDoiTienTe(item.FareChd);
        var FareInfant = UIUty.ChuyenDoiTienTe(item.FareInf);
        var Pricebefor = UIUty.ChuyenDoiTienTe(item.PriceBefor);
        var TotalFare = UIUty.ChuyenDoiTienTe(item.TotalPrice);
        var TaxAdult = UIUty.ChuyenDoiTienTe(item.TaxAdt);
        var TaxChild = UIUty.ChuyenDoiTienTe(item.TaxChd);
        var TaxInfant = UIUty.ChuyenDoiTienTe(item.TaxInf);
        var CurrencyCode = UIUty.GetDonViTienTe();
        indexdetail = 0;
        indexdetailrt = 0;
        <div class="BoxFareOption @item.Airline @string.Format("StopNum{0}",item.StopNum) ">
            <div class="FareHeader border-radius-top">
                <div class="PriceSummary">
                    <span class="PriceSummaryTitle">@VDMMutiline.Resource.App_GlobalResources.weblanguage.Ticket_Price:</span>
                    <span class="view-total-fare PriceSummaryValue" style="display: inline-block">
                        @FareAdult.ToString("#,0.#") @CurrencyCode

                    </span>
                    <span class="view-base-fare PriceSummaryValue" style="display: none">
                        @((FareAdult + FeeChild + FeeInfant).ToString("n0"))  @item.Currency
                    </span>
                </div>
                <div class="PriceDetailLink">
                    <a id="@string.Format("DetailLinkFare{0}", index)" href="javascript:void(0)" onclick="ToggleFare('@string.Format("DetailFare{0}", item.FareDataIdValue)', '@string.Format("DetailLinkFare{0}", item.FareDataIdValue)','@item.FareDataIdValue' ) " class=" details">@VDMMutiline.Resource.App_GlobalResources.weblanguage.Details_fares</a>
                </div>
                <div class="ShowFareRule FloatRight">
                    <img alt="Fare rule" src="/Content/FontEnd/SeachValue/Styles/farerule.jpg" height="20px">
                    <a id="btnFareRule" onclick="onpendieukien('@item.SessionId','@item.FareDataIdValue','@string.Format("#FareRule{0}", item.FareDataIdValue)')" href="javascript:void(0)">@VDMMutiline.Resource.App_GlobalResources.weblanguage.Conditions_of_tickets</a>
                </div>
                <div class="Clear"></div>
            </div>
            <div id="@string.Format("FareRule{0}", item.FareDataIdValue)" style="display: none" class="bbpopub">

            </div>
            <div id="@string.Format("DetailFare{0}", item.FareDataIdValue)" class="PriceDetail WhiteBox NoTop DetailPriceBox" style="display: none; margin-bottom: 0px;">

            </div>
            <div class="FareFlightContent">
                <div class="FlightDirection NoBottom NoTop">
                    <span>
                        <img alt="Flight outbound" src="/Content/FontEnd/SeachValue/Styles/flights-icon-outbound.png">
                    </span>
                    <strong>@VDMMutiline.Resource.App_GlobalResources.weblanguage.Outbound_flight</strong>
                </div>
                <div class="FilghtItem">
                    @if (item.ListFlight.Where(z => z.StartPoint == Model.DepartureAirportCode).Count() > 0)
                    {
                        foreach (var itemve in item.ListFlight.Where(z => z.StartPoint == Model.DepartureAirportCode))
                        {
                            var codeold = "";
                            <div class="FilghtInfo">
                                <div class="FilghtInfoSummary">
                                    <table style="width: 100%">
                                        <tbody>
                                            <tr>
                                                <td class="Airline">
                                                    <img alt="@itemve.Airline" src="@UIUty.GetImagebyHang(itemve.Airline)">
                                                    <div class="AirlineName">
                                                        @(UIUty.GetNamebyHang(itemve.Airline))
                                                    </div>
                                                </td>
                                                <td class="Point">
                                                    <div class="City">
                                                        @(getsanbaycode(listStation, itemve.StartPoint))
                                                    </div>
                                                    <div class="FlightTime">
                                                        <span class="Time">@(itemve.StartDate.ToString("HH:mm"))</span>
                                                        <span class="Date">
                                                            @(itemve.StartDate.ToString("dd/MM/yyyy"))
                                                        </span>
                                                    </div>
                                                </td>
                                                <td class="Point">
                                                    <div class="City">
                                                        @(getsanbaycode(listStation, itemve.EndPoint))
                                                    </div>
                                                    <div class="FlightTime">
                                                        <span class="Time">@(itemve.EndDate.ToString("HH:mm"))</span>
                                                        <span class="Date">
                                                            @(itemve.EndDate.ToString("dd/MM/yyyy"))
                                                        </span>
                                                    </div>
                                                </td>
                                                <td class="Detail">
                                                    @VDMMutiline.Resource.App_GlobalResources.weblanguage.Stop_point:
                                                    <b>
                                                        <strong class="col2">
                                                            <span id="lblNumStop">@itemve.StopNum </span>
                                                            <span id="lblStopPoint">@VDMMutiline.Resource.App_GlobalResources.weblanguage.Stop_point</span>
                                                        </strong>
                                                    </b>
                                                    <br>
                                                    @VDMMutiline.Resource.App_GlobalResources.weblanguage.Total_journey: <strong class="col2">
                                                        @UIUty.GetTimeString(itemve.Duration)
                                                    </strong>
                                                    <br>
                                                    <a id="@string.Format("DetailLinkDepart{0}", indexvedi)" href="javascript:void(0)" onclick="Toggle('@string.Format("DetailFlightDeparture{0}", indexvedi)', '@string.Format("DetailLinkDepart{0}", indexvedi)', '@item.FareDataIdValue', '@itemve.FlightId' ) " class=" details">@VDMMutiline.Resource.App_GlobalResources.weblanguage.Detail</a>
                                                </td>
                                                <td class="SelectRadioButton">
                                                    <input title="Select" name="@string.Format("FlightDeparture{0}", item.FareDataIdValue)" type="radio" @(indexdetail == 0 ? "checked=''" : "") value="@itemve.FlightId">
                                                </td>
                                            </tr>
                                            <tr class="visible-xs">
                                                <a id="@string.Format("DetailLinkDepartxs{0}", indexvedi)" href="javascript:void(0)" onclick="Toggle('@string.Format("DetailFlightDeparture{0}", indexvedi)', '@string.Format("DetailLinkDepartxs{0}", indexvedi)', '@item.FareDataIdValue' , '@itemve.FlightId' ) " class=" details visible-xs">@VDMMutiline.Resource.App_GlobalResources.weblanguage.Detail</a>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="Clear"></div>
                                <div id="@string.Format("DetailFlightDeparture{0}", indexvedi)" class="FlightInfoDetailsMaster" style="display: none">

                                </div>
                            </div>
                            indexvedi++;
                            indexdetail++;
                        }
                    }
                </div>

            </div>
            @if (item.ListFlight.Where(z => z.StartPoint == Model.DestinationAirportCode).Count() > 0)
            {
                <div class="FareFlightContent">
                    <div class="FlightDirection NoBottom NoTop">
                        <span>
                            <img alt="Flight outbound" src="~/Content/FontEnd/SeachValue/Styles/flights-icon-inbound.png">
                        </span>
                        <strong>@VDMMutiline.Resource.App_GlobalResources.weblanguage.Inbound_flight</strong>
                    </div>
                    <div class="FilghtItem">

                        @foreach (var itemve in item.ListFlight.Where(z => z.StartPoint == Model.DestinationAirportCode))
                        {
                            var codeold = "";
                            <div class="FilghtInfo">
                                <div class="FilghtInfoSummary">
                                    <table style="width: 100%">
                                        <tbody>
                                            <tr>
                                                <td class="Airline">
                                                    <img alt="@itemve.Airline" src="@UIUty.GetImagebyHang(itemve.Airline)">
                                                    <div class="AirlineName">
                                                        @UIUty.GetNamebyHang(itemve.Airline)
                                                    </div>
                                                </td>
                                                <td class="Point">
                                                    <div class="City">
                                                        @(getsanbaycode(listStation, itemve.StartPoint))
                                                    </div>
                                                    <div class="FlightTime">
                                                        <span class="Time">@(itemve.StartDate.ToString("HH:mm"))</span>
                                                        <span class="Date">
                                                            @(itemve.StartDate.ToString("dd/MM/yyyy"))
                                                        </span>
                                                    </div>
                                                </td>
                                                <td class="Point">
                                                    <div class="City">
                                                        @(getsanbaycode(listStation, itemve.EndPoint))
                                                    </div>
                                                    <div class="FlightTime">
                                                        <span class="Time">@(itemve.EndDate.ToString("HH:mm"))</span>
                                                        <span class="Date">
                                                            @(itemve.EndDate.ToString("dd/MM/yyyy"))
                                                        </span>
                                                    </div>
                                                </td>
                                                <td class="Detail">
                                                    @VDMMutiline.Resource.App_GlobalResources.weblanguage.Stop_point:
                                                    <b>
                                                        <strong class="col2">
                                                            <span id="lblNumStop">@itemve.StopNum </span>
                                                            <span id="lblStopPoint">@VDMMutiline.Resource.App_GlobalResources.weblanguage.Stop_point</span>
                                                        </strong>
                                                    </b>
                                                    <br>
                                                    @VDMMutiline.Resource.App_GlobalResources.weblanguage.Total_journey: <strong class="col2">
                                                        @UIUty.GetTimeString(itemve.Duration)
                                                    </strong>
                                                    <br>
                                                    <a id="@string.Format("DetailLinkReturn{0}", indexveve)" href="javascript:void(0)" onclick="Toggle('@string.Format("DetailFlightReturn{0}", indexveve)', '@string.Format("DetailLinkReturn{0}", indexveve)', '@item.FareDataIdValue', '@itemve.FlightId' ) " class=" details">@VDMMutiline.Resource.App_GlobalResources.weblanguage.Detail</a>
                                                </td>
                                                <td class="SelectRadioButton">
                                                    <input title="Select" name="@string.Format("ReturnFlight{0}", item.FareDataIdValue)" @(indexdetailrt == 0 ? "checked=''" : "") type="radio" value="@itemve.FlightId">
                                                </td>
                                            </tr>
                                            <tr class="visible-xs">
                                                <a id="@string.Format("DetailLinkReturnxs{0}", indexveve)" href="javascript:void(0)" onclick="Toggle('@string.Format("DetailFlightDeparture{0}", indexveve)', '@string.Format("DetailLinkReturnxs{0}", indexveve)', '@item.FareDataIdValue', '@itemve.FlightId' ) " class=" details visible-xs">@VDMMutiline.Resource.App_GlobalResources.weblanguage.Detail</a>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="Clear"></div>
                                <div id="@string.Format("DetailFlightReturn{0}", indexveve)" class="FlightInfoDetailsMaster" style="display: none">

                                </div>
                            </div>
                            indexveve++;
                            indexdetailrt++;
                        }

                    </div>
                </div>
            }
            <div class="FareFooter border-radius-bottom">
                <span class="PromoMessageGlobal" style="display: none">
                    <span class="warning-icon"><img alt="Warning" src="/Content/FontEnd/SeachValue/warning_icon.png" height="14"> @VDMMutiline.Resource.App_GlobalResources.weblanguage.Note_This_type</span>
                </span>
                <div class="FloatRight">
                    <a id="btnContinue" onclick="submitform('@item.SessionId', '@item.FareDataIdValue' , '@string.Format("FlightDeparture{0}", item.FareDataIdValue)' , '@string.Format("ReturnFlight{0}", item.FareDataIdValue)' ) " class=" continue-button" href="javascript:void(0)">@VDMMutiline.Resource.App_GlobalResources.weblanguage.Continue</a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        index++;
    }
}
