@using System.ComponentModel.DataAnnotations
@using VDMMutiline.Dao
@using VDMMutiline.Ultilities
@using VDMMutiline.SeachAndBook
@using VDMMutiline.Core.UI
@using VDMMutiline.Core.Common
@using VDMMutiline.SharedComponent.EntityInfo
@using VDMMutiline.SharedComponent.Constants
@model SeachParam
@functions{
    private ApiClient.Models.Airport getbycode(string code)
    {
        return Station.Getbycode(code);
    }
    private string getsanbaycode(string code)
    {
        var obj = Station.Getbycode(code);
        if (obj != null)
            return obj.AirportName;
        return "";
    }
}
@{
    Layout = "~/Views/Shared/_LayouIndex.cshtml";
    var index = 0;
    var objnamedi = getbycode(Model.DepartureAirportCode);
    var objnameden = getbycode(Model.DestinationAirportCode);
    var indexvedi = 0;
    var indexveve = 0;
    var indexdetail = 0;
    var indexdetailrt = 0;
    var curentDomain = SiteMuti.Getsitename();
    var CurentUser = CommonUI.GetInforByDomain(curentDomain);
    var logo = "";
    if (CurentUser != null)
    {
        logo = CurentUser.LogoMbUrl;
    }

}
<style>
    td.Airline {
        text-align: center;
    }

    .modal-open .modal {
        padding-right: 0px !important;
    }

    .Detai-Depart {
        padding: 0px 0px 0px 4px !important;
        width: auto !important;
    }

    .StopInfo {
        width: 100%;
    }

    .Detai-Carrier {
        border-right: 1px solid #e1e1e1;
        font-size: 11px;
    }

    .Detai-Depart .Hour {
        font-size: 16px !important;
    }

    .Citycode {
        font-size: 17px;
    }

    .Detai-Depart .CityName {
        font-size: 9px;
        line-height: 24px;
    }
</style>

<div id="page-header">
    <a class="lo-go" href="/">
        <span>
            @if (!string.IsNullOrEmpty(logo))
            {
                <img src="@logo" style="width: 180px ;height: 47px;" />
            }
            else
            {
                <img src="/Content/VDM/img/logo.png" style="height: 47px;" />
            }
        </span>
       
    </a>
    <a id="menu-link" style="        height: 47px;" onclick="showmenu()"></a>
    <div style="       text-align: right;    right: 57px;position: absolute;bottom: 30px;">
        <a class="call-center" href="/" style="        text-align: right;
        font-size: 100%;
        color: #fff;"><span><img src="~/Content/phone.png" style="        width: 24px;" /></span>@CurentUser.PhoneNumber</a>
    </div>
    <div class="clearfix" style="  position:relative;      width: 100%; /* border-bottom: 5px solid #fff; */
        border-top: 1px solid #fff;
        text-align: center;
        color: #fff;
        font-size: 18px;">
        <div id="topchieudi">
            <span> @(objnamedi != null ? objnamedi.AirportCode : "") @(objnameden != null ? objnameden.AirportCode : "")  </span>
            <span>
                @{
                    var ngaydi = Utility.ConvertToDate(Model.DepartureDate);
                    @Utility.GetDateStringshos(ngaydi)
                }
            </span>
            @if (Model.Itinerary > 1)
            {
                var ngayve = Utility.ConvertToDate(Model.ReturnDate);

                @*<span> - @(objnameden != null ? objnameden.value : "")  @(objnamedi != null ? objnamedi.value : "")  </span>*@
                <span>
                    @{

                        @(" - " + Utility.GetDateStringshos(ngayve))
                    }
                </span>

            }
        </div>
        <div class="left_re share2" style="margin: 0;margin-right:1px;margin-left:5px;float: right;position: absolute;top: 0;right: 0px;width: 56px;height: 27px;">
            <a href="#" style="color:#fff" onclick="ShowCopy()" class="share4">
                Copy
            </a>
        </div>
    </div>
</div>
@using (Html.BeginForm("SeachInternational", "SeachHome", FormMethod.Post, new { @id = "from1", @class = "form-horizontal seach", @role = "form" }))
{
    <input type="hidden" name="hdfSearchParams" id="hdfSearchParams" />
    <input type="hidden" name="hdfFareDataId" id="hdfFareDataId" />
    <input type="hidden" name="hdhDepartureFlightId" id="hdhDepartureFlightId" />
    <input type="hidden" name="hdfReturnFlightId" id="hdfReturnFlightId" />

    <div class="bgSelect" style="display: block;    margin-top: 72px;">
        <div class="row namecity">
            <img src="/Content/Images/airgo.png" align="bottom" /><br />
            <div class="citygo" style="width: 50%;padding-left: 0px; text-align: center">
                <b>  @(objnamedi != null ? objnamedi.AirportName : "")</b>
                <br />
                @(objnamedi != null ? objnamedi.AirportCode : "")
            </div>

            <div class="cityto" style="width: 50%;padding-right: 0px; text-align: center">
                <b> @(objnameden != null ? objnameden.AirportName : "")</b>
                <br />
                @(objnameden != null ? objnameden.AirportCode : "")
            </div>
        </div>
        <div class="sort">
            <label>Sắp xếp theo:</label>
            <span id="cphMain_radlSortBy">
                <input id="gia" name="Sort" value="@Constant.Olderve.Gia" onchange="onSort()" checked="checked" type="radio">
                <label for="gia">Giá (Từ thấp tới cao)</label>
                <input id="GioCatCanh" name="Sort" value="@Constant.Olderve.GioCatCanh" onchange="onSort()" type="radio">
                <label for="GioCatCanh">Giờ bay</label>
                <input id="Hang" name="Sort" value="@Constant.Olderve.HangHangkhong" onchange="onSort()" type="radio">
                <label for="Hang">Hãng bay</label>
            </span>
        </div>
        <section class="Wrapper">
            <div class="content">
                @if (Model.LstFareData != null)
                {
                    if (Model.LstFareData.Count > 0)
                    {
                        <div id="ResultTicket">

                        </div>
                        <div id="ResultTicket1">

                        </div>
                        <div id="loadingResultTicket" style="text-align:center">
                            <img src="/Content/images/ajax-loading.gif" style="max-width:100%" />
                            <p style="padding: 3px; margin-top: 5px;">Đang tìm kết quả các chuyến bay...</p>
                        </div>
                    }
                }

            </div>
        </section>
    </div>

}
<script src="/Content/Popup/jquery.bpopup.min.js"></script>
<link href="/Content/Popup/Popubcss.css" rel="stylesheet" />
<div id="myModalCopy" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header" style="padding-top: 5px;padding-bottom: 5px; ">
                <button type="button" class="close" data-dismiss="modal" style="    background: transparent !important;    color: #000 !important;    margin-top: -5px;">
                    &times;
                </button>
                <h4 class="modal-title">Copy</h4>
            </div>
            <div id="contentmodalcopy"></div>
        </div>

    </div>
</div>
<div id="myModalloading" style="        display: none" class="bbpopub">
    <div class="imageAjaxLoading">
        <img src="~/Content/Popup/loading.gif" />
    </div>
</div>
<script>
    function ShowCopy() {
        $( '#myModalloading' ).bPopup( {
            modalClose: false,
            opacity: 0.6,
            positionStyle: 'fixed'
        } );
    jQuery.ajax({
        url: '@Url.Action("CopyInternational","SeachHome")',
        type: "POST",
        cache: false,
        contentType: false,
        processData: false,
        success: function ( data ) {
            $( '#contentmodalcopy' ).html( data );
             $('#myModalCopy').modal('show');
             $('#myModalloading').bPopup().close();
        },
        error: function (jqXhr, errorCode, error) {
             $('#myModalloading').bPopup().close();
        }
    });
    }
    function submitform( SearchParams, FareDataId, groupnameDeparture, groupnameReturn ) {
        $( "#hdfSearchParams" ).val( SearchParams );
        $( "#hdfFareDataId" ).val( FareDataId );
        $( "#hdhDepartureFlightId" ).val( groupnameDeparture );
        $( "#hdfReturnFlightId" ).val( groupnameReturn );
        $( "#from1" ).submit();
        }
     function Showdetail(controlId,FareDataIdValue,flightID,flightReturnId) {
         control =$(controlId);
         $( '#GetFareRule_popup' ).bPopup( {
             modalClose: false,
             opacity: 0.6,
             positionStyle: 'fixed'
         } );
         $.ajax( {
             url: '@Url.Action("GetDetailFlights", "SeachHome")',
             type: 'POST',
             cache: false,
             dataType: "html",
             data:  { "fareid": FareDataIdValue, "flightvalue": flightID,"flightReturnId":flightReturnId } ,
             success: function ( data ) {
                 control.html( data );
                 $( '#GetFareRule_popup' ).bPopup().close();
                 control.modal()
             },
             error: function ( jqXHR, exception ) {
                 $( '#GetFareRule_popup' ).bPopup().close();
             }
         } );
        }

</script>
<div id="GetFareRule_popup" style="display: none" class="bbpopub">
    <div class="imageAjaxLoading">
        <img src="~/Content/Popup/loading.gif" />
    </div>
</div>
