@using VDMMutiline.Dao
@using VDMMutiline.SharedComponent.Constants
@using VDMMutiline.SharedComponent.EntityInfo
@using VDMMutiline.Ultilities
@using VDMMutiline.Core.UI
@using VDMMutiline.Core
@using VDMMutiline.Core.Common
@model VDMMutiline.SeachAndBook.SeachParam
@{
    Layout = "~/Views/Shared/_LayouIndex.cshtml";
}
@functions
{

    private ApiClient.Models.Airport getbycode(string code)
    {
        return Station.Getbycode(code);
    }
    private string getsanbaycode(string code)
    {
        var obj = Station.Getbycode(code);
        if (obj != null)
            return obj.AirportName;
        return "";
    }
    private List<VDMMutiline.SeachAndBook.VeThangareDataInfo> GetChieuDiTHeoNgay(DateTime date)
    {
        return Model.DepartureFlightsVeThang.Where(z => z.StartDate.Date == date).OrderBy(z => z.FareAdt).ToList();
    }
    private List<VDMMutiline.SeachAndBook.VeThangareDataInfo> GetChieuveTHeoNgay(DateTime date)
    {
        return Model.ReturnFlightsVeThang.Where(z => z.StartDate.Date == date).OrderBy(z => z.FareAdt).ToList();
    }

}
@{
    var index = 0;
    var indexDepartureFlight = 0;
    var indexReturnFlights = 0;

    var starmountvalue = 0;
    var staryearvalue = 0;
    var StartMonthsp = Model.StartMonth.Split('/');
    if (StartMonthsp.Length > 1)
    {
        starmountvalue = int.Parse(StartMonthsp[0]);
        staryearvalue = int.Parse(StartMonthsp[1]);
    }

    var endmountvalue = 0;
    var endyearvalue = 0;
    var EndMonthsp = Model.EndMonth.Split('/');
    if (EndMonthsp.Length > 1)
    {
        endmountvalue = int.Parse(EndMonthsp[0]);
        endyearvalue = int.Parse(EndMonthsp[1]);
    }

    // chiều đi

    var dauthang_ngaybatdau = UIUty.GetFirstDayOfMonth(starmountvalue, staryearvalue);
    var cuoithang_ngaybatdau = UIUty.GetLastDayOfMonth(starmountvalue, staryearvalue);

    //chiều về
    var dauthang_ngayve = endmountvalue > 0 ? UIUty.GetFirstDayOfMonth(endmountvalue, endyearvalue) : new DateTime();
    var cuoithang_ngayve = endmountvalue > 0 ? UIUty.GetLastDayOfMonth(endmountvalue, endyearvalue) : new DateTime();

    var indexthu = 0;
    var ngaycuoiccungrow1 = new DateTime();
    var rowindex = 0;
    var objnamedenheader = getbycode(Model.DestinationAirportCode);
    var objnamediheader = getbycode(Model.DepartureAirportCode);
    var objnameden = objnamedenheader;
    var objnamedi = objnamediheader;
    var curentDomain = SiteMuti.Getsitename();
    var CurentUser = CommonUI.GetInforByDomain(curentDomain);
    var logo = "";
    if (CurentUser != null)
    {
        logo = CurentUser.LogoMbUrl;
    }

}
<link href="/Content/vethang/css/style.css" rel="stylesheet" />
<script src="/Content/Scripts/format.js"></script>


<style>
    #page-header {
        position: fixed;
        z-index: 100;
        top: 0;
        background-color: #216CBD;
        box-shadow: 1px 0 0 #999;
        width: 100%;
        border-bottom: solid 1px #ffffff;
    }

    header > div > a.lo-go {
        padding-left: 10px;
    }

    header > div > a.lo-go {
        padding: 6px 0 10px 15px;
        display: inline-block;
        /* border-bottom: solid 1px #0a213a; */
    }

    td.BasketFlightDepart {
        border-right: 1px dotted #cacaca;
        width: 50%;
    }
</style>



<div id="page-header">
    <a class="lo-go" href="/">
        <span>
            @if (!string.IsNullOrEmpty(logo))
            {
                <img src="@logo" style="width: 180px ;height: 47px;" />
            }
            else
            {
                <img src="/Content/VDM/img/logo.png" style="height: 47px;" />
            }
        </span>
        
    </a>
    <a id="menu-link" onclick="showmenu()"></a>
    <div style="text-align: right;position: absolute;    right: 57px;bottom:30px;"><a class="call-center" href="/" style="text-align: right;font-size: 100%;color: #fff;"> <span><img src="~/Content/phone.png" style="width: 24px;" /></span> @CurentUser.PhoneNumber </a></div>
    <div class="clearfix" style="width: 100%;/* border-bottom: 5px solid #fff; */border-top: 1px solid #fff;text-align: center;color: #fff;font-size: 18px;">
        <span> @(objnamediheader != null ? objnamediheader.AirportCode : "") @(objnamedenheader != null ? objnamedenheader.AirportCode : "")  </span>
        <span>
            @Model.StartMonth
        </span>
        @{
            if (Model.Itinerary > 1)
            {
                @Model.EndMonth
            }
        }
    </div>
</div>

@using (Html.BeginForm("TimVere", "SeachHome", FormMethod.Post, new { @onsubmit = "return validateForm()", @id = "formvalueSeachdomtick", @class = "form-horizontal seach", @role = "form" }))
{
    <div class="bgSelect" style="margin-top:90px;display: block;">
        <section>
            <div class="row">

                @if (Model.DepartureFlightsVeThang.Count > 0)
                {
                    <input type="hidden" name="hdfSelectedDepartFlt" id="hdfSelectedDepartFlt" />
                    <input type="hidden" name="hdfSelectedReturnFlt" id="hdfSelectedReturnFlt" />
                    <input type="hidden" name="hdhSearchArchiveId" id="hdhSearchArchiveId" />
                    <input type="hidden" name="hdfItineraryType" id="hdfItineraryType" />
                    <input type="hidden" name="hdfFareAdtDepart" id="hdfFareAdtDepart" />
                    <input type="hidden" name="hdfFareChdDepart" id="hdfFareChdDepart" />
                    <input type="hidden" name="hdfFareInfDepart" id="hdfFareInfDepart" />
                    <input type="hidden" name="hdfTaxAdtDepart" id="hdfTaxAdtDepart" />
                    <input type="hidden" name="hdfTaxChdDepart" id="hdfTaxChdDepart" />
                    <input type="hidden" name="hdfTaxInfDepart" id="hdfTaxInfDepart" />
                    <input type="hidden" name="hdfFareAdtReturn" id="hdfFareAdtReturn" />
                    <input type="hidden" name="hdfFareChdReturn" id="hdfFareChdReturn" />
                    <input type="hidden" name="hdfFareInfReturn" id="hdfFareInfReturn" />
                    <input type="hidden" name="hdfTaxAdtReturn" id="hdfTaxAdtReturn" />
                    <input type="hidden" name="hdfTaxChdReturn" id="hdfTaxChdReturn" />
                    <input type="hidden" name="hdfTaxInfReturn" id="hdfTaxInfReturn" />
                    <input type="hidden" name="hdhSession" id="hdhSession" />
                    <input type="hidden" name="hdhCodeReturn" id="hdhCodeReturn" />
                    <input type="hidden" name="hdhCodeDepart" id="hdhCodeDepart" />
                    @Html.HiddenFor(z => Model.Itinerary)
                    @Html.HiddenFor(z => Model.DepartureAirportCode)
                    @Html.HiddenFor(z => Model.DestinationAirportCode)
                    @Html.HiddenFor(z => Model.StartMonth)
                    @Html.HiddenFor(z => Model.EndMonth)
                    @Html.HiddenFor(z => Model.Adult)
                    @Html.HiddenFor(z => Model.Children)
                    @Html.HiddenFor(z => Model.Infant)
                    @Html.HiddenFor(z => Model.AirlineCode)
                    <div class="row " style="margin-top:20px">

                        <table cellspacing="0" cellpadding="0" class="vere vedi">
                            <thead>
                                <tr>
                                    <th align="left" class="vvPrev" style="height:40px;border:none">


                                    </th>
                                    <th align="center" colspan="5" style="height:40px;border:none;text-align: center;"><b style="text-align: center">Chiều đi: @UIUty.getmountday(dauthang_ngaybatdau)</b></th>
                                    <th align="right" class="vvNext" style="height:40px;border:none;float: right;padding-top: 5px;">

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="background-color:#ebebeb">
                                    <th style="    text-align: center;    padding: 6px;">T2</th>
                                    <th style="    text-align: center;    padding: 6px;">T3</th>
                                    <th style="    text-align: center;    padding: 6px;">T4</th>
                                    <th style="    text-align: center;    padding: 6px;">T5</th>
                                    <th style="    text-align: center;    padding: 6px;">T6</th>
                                    <th style="    text-align: center;    padding: 6px;">T7</th>
                                    <th style="    text-align: center;    padding: 6px;">CN</th>
                                </tr>
                                @for (var i = dauthang_ngaybatdau; i <= cuoithang_ngaybatdau; i = i.AddDays(1))
                                {
                                    if (indexthu == 0 || indexthu == 8)
                                    {
                                        @Html.Raw("<tr>")
                                        rowindex++;
                                    }
                                    if (i == dauthang_ngaybatdau)
                                    {
                                        if (indexthu == 0)
                                        {
                                        <td class="@((i.Date < DateTime.Now.Date) ? "vvDayBlank" : "")">
                                            @if (i.DayOfWeek == DayOfWeek.Monday)
                                            {
                                                var obj = GetChieuDiTHeoNgay(i.Date).FirstOrDefault();
                                                if (obj != null)
                                                {
                                                    var indexof = Model.DepartureFlightsVeThang.IndexOf(obj);
                                                    <div class="hovershow">
                                                        <div onclick="SelectedDepartFlights('@(UIUty.getnameday(obj.EndDate)+" "+  obj.EndDate.ToString("dd/MM/yyyy"))','@(UIUty.getnameday(obj.StartDate)+" "+  obj.StartDate.ToString("dd/MM/yyyy"))','@obj.EndDate.ToString("HH:mm")','@obj.StartDate.ToString("HH:mm")','@obj.FlightNumber','@UIUty.GetImagebyHang(obj.Airline)','@obj.StartDate.ToString("dd/MM/yyyy")','@indexof', '@obj.FareAdt' , '@(obj.TaxAdt + obj.FeeAdt)' , '@obj.FareChd' , '@(obj.TaxChd + obj.FeeChd)' , '@obj.FareInf' , '@(obj.TaxInf + obj.FeeInf)' , '@obj.SessionAll' , '@obj.Airline') ">
                                                            @i.Day
                                                            <p class="vvFare">@UIUty.catgia(obj.FareAdt + obj.FeeAdt + obj.TaxAdt)</p>

                                                        </div>

                                                        @if (GetChieuDiTHeoNgay(i.Date).Count > 1)
                                                        {
                                                            <div class="calendar-tooltips depart">
                                                                @foreach (var item in GetChieuDiTHeoNgay(i.Date).Skip(1))
                                                                {
                                                                    var indexofdetail = Model.DepartureFlightsVeThang.IndexOf(item);

                                                                    <div>
                                                                        <div class="monthly-fare-header">
                                                                            <table style="width: 100%">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td class="monthly-airline" style="width: 50%; border-right: 1px dotted #cacaca; text-align: center; font-weight: bold"></td>
                                                                                        <td style="width: 50%; text-align: center">

                                                                                            <span class="monthly-price">@((item.FareAdt + item.FeeAdt + item.TaxAdt).ToString("#,0.#"))</span>
                                                                                            <span class="monthly-currency">VND</span>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>

                                                                    </div>
                                                                }

                                                            </div>
                                                        }
                                                    </div>

                                                }
                                                else
                                                {
                                                    @i.Day
                                                }
                                                indexthu = 2;


                                            }
                                        </td>
                                    }
                                    if (indexthu == 0)
                                    {
                                        <td class="@((i.Date < DateTime.Now.Date) ? "vvDayBlank" : "")">
                                            @if (i.DayOfWeek == DayOfWeek.Tuesday)
                                            {
                                                var obj = GetChieuDiTHeoNgay(i.Date).FirstOrDefault();
                                                if (obj != null)
                                                {
                                                    var indexof = Model.DepartureFlightsVeThang.IndexOf(obj);
                                                    <div class="hovershow">
                                                        <div onclick="SelectedDepartFlights('@(UIUty.getnameday(obj.EndDate)+" "+  obj.EndDate.ToString("dd/MM/yyyy"))','@(UIUty.getnameday(obj.StartDate)+" "+  obj.StartDate.ToString("dd/MM/yyyy"))','@obj.EndDate.ToString("HH:mm")','@obj.StartDate.ToString("HH:mm")','@obj.FlightNumber','@UIUty.GetImagebyHang(obj.Airline)','@obj.StartDate.ToString("dd/MM/yyyy")','@indexof', '@obj.FareAdt' , '@(obj.TaxAdt + obj.FeeAdt)' , '@obj.FareChd' , '@(obj.TaxChd + obj.FeeChd)' , '@obj.FareInf' , '@(obj.TaxInf + obj.FeeInf)' , '@obj.SessionAll' , '@obj.Airline') ">
                                                            @i.Day
                                                            <p class="vvFare">@UIUty.catgia(obj.FareAdt + obj.FeeAdt + obj.TaxAdt)</p>

                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    @i.Day
                                                }
                                                indexthu = 3;
                                            }


                                        </td>
                                    }
                                    if (indexthu == 0)
                                    {
                                        <td class="@((i.Date < DateTime.Now.Date) ? "vvDayBlank" : "")">


                                            @if (i.DayOfWeek == DayOfWeek.Wednesday)
                                            {
                                                var obj = GetChieuDiTHeoNgay(i.Date).FirstOrDefault();
                                                if (obj != null)
                                                {
                                                    var indexof = Model.DepartureFlightsVeThang.IndexOf(obj);
                                                    <div class="hovershow">
                                                        <div onclick="SelectedDepartFlights('@(UIUty.getnameday(obj.EndDate)+" "+  obj.EndDate.ToString("dd/MM/yyyy"))','@(UIUty.getnameday(obj.StartDate)+" "+  obj.StartDate.ToString("dd/MM/yyyy"))','@obj.EndDate.ToString("HH:mm")','@obj.StartDate.ToString("HH:mm")','@obj.FlightNumber','@UIUty.GetImagebyHang(obj.Airline)','@obj.StartDate.ToString("dd/MM/yyyy")','@indexof', '@obj.FareAdt' , '@(obj.TaxAdt + obj.FeeAdt)' , '@obj.FareChd' , '@(obj.TaxChd + obj.FeeChd)' , '@obj.FareInf' , '@(obj.TaxInf + obj.FeeInf)' , '@obj.SessionAll' , '@obj.Airline') ">
                                                            @i.Day
                                                            <p class="vvFare">@UIUty.catgia(obj.FareAdt + obj.FeeAdt + obj.TaxAdt)</p>
                                                        </div>

                                                    </div>
                                                }
                                                else
                                                {
                                                    @i.Day
                                                }
                                                indexthu = 4;
                                            }


                                        </td>
                                    }
                                    if (indexthu == 0)
                                    {
                                        <td class="@((i.Date < DateTime.Now.Date) ? "vvDayBlank" : "")">


                                            @if (i.DayOfWeek == DayOfWeek.Thursday)
                                            {
                                                var obj = GetChieuDiTHeoNgay(i.Date).FirstOrDefault();
                                                if (obj != null)
                                                {
                                                    var indexof = Model.DepartureFlightsVeThang.IndexOf(obj);
                                                    <div class="hovershow">
                                                        <div onclick="SelectedDepartFlights('@(UIUty.getnameday(obj.EndDate)+" "+  obj.EndDate.ToString("dd/MM/yyyy"))','@(UIUty.getnameday(obj.StartDate)+" "+  obj.StartDate.ToString("dd/MM/yyyy"))','@obj.EndDate.ToString("HH:mm")','@obj.StartDate.ToString("HH:mm")','@obj.FlightNumber','@UIUty.GetImagebyHang(obj.Airline)','@obj.StartDate.ToString("dd/MM/yyyy")','@indexof', '@obj.FareAdt' , '@(obj.TaxAdt + obj.FeeAdt)' , '@obj.FareChd' , '@(obj.TaxChd + obj.FeeChd)' , '@obj.FareInf' , '@(obj.TaxInf + obj.FeeInf)' , '@obj.SessionAll' , '@obj.Airline') ">
                                                            @i.Day <p class="vvFare">@UIUty.catgia(obj.FareAdt + obj.FeeAdt + obj.TaxAdt)</p>
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    @i.Day
                                                }
                                                indexthu = 5;
                                            }


                                        </td>
                                    }
                                    if (indexthu == 0)
                                    {
                                        <td class="@((i.Date < DateTime.Now.Date) ? "vvDayBlank" : "")">
                                            @if (i.DayOfWeek == DayOfWeek.Friday)
                                            {
                                                var obj = GetChieuDiTHeoNgay(i.Date).FirstOrDefault();
                                                if (obj != null)
                                                {
                                                    var indexof = Model.DepartureFlightsVeThang.IndexOf(obj);
                                                    <div class="hovershow">
                                                        <div onclick="SelectedDepartFlights('@(UIUty.getnameday(obj.EndDate)+" "+  obj.EndDate.ToString("dd/MM/yyyy"))','@(UIUty.getnameday(obj.StartDate)+" "+  obj.StartDate.ToString("dd/MM/yyyy"))','@obj.EndDate.ToString("HH:mm")','@obj.StartDate.ToString("HH:mm")','@obj.FlightNumber','@UIUty.GetImagebyHang(obj.Airline)','@obj.StartDate.ToString("dd/MM/yyyy")','@indexof', '@obj.FareAdt' , '@(obj.TaxAdt + obj.FeeAdt)' , '@obj.FareChd' , '@(obj.TaxChd + obj.FeeChd)' , '@obj.FareInf' , '@(obj.TaxInf + obj.FeeInf)' , '@obj.SessionAll' , '@obj.Airline') ">
                                                            @i.Day <p class="vvFare">@UIUty.catgia(obj.FareAdt + obj.FeeAdt + obj.TaxAdt)</p>
                                                        </div>
                                                    </div> }
                                                else
                                                {
                                                    @i.Day
                                                }
                                                indexthu = 6;
                                            }
                                        </td>
                                    }
                                    if (indexthu == 0)
                                    {
                                        <td class="@((i.Date < DateTime.Now.Date) ? "vvDayBlank" : "")">
                                            @if (i.DayOfWeek == DayOfWeek.Saturday)
                                            {
                                                var obj = GetChieuDiTHeoNgay(i.Date).FirstOrDefault();
                                                if (obj != null)
                                                {
                                                    var indexof = Model.DepartureFlightsVeThang.IndexOf(obj);
                                                    <div class="hovershow">
                                                        <div onclick="SelectedDepartFlights('@(UIUty.getnameday(obj.EndDate)+" "+  obj.EndDate.ToString("dd/MM/yyyy"))','@(UIUty.getnameday(obj.StartDate)+" "+  obj.StartDate.ToString("dd/MM/yyyy"))','@obj.EndDate.ToString("HH:mm")','@obj.StartDate.ToString("HH:mm")','@obj.FlightNumber','@UIUty.GetImagebyHang(obj.Airline)','@obj.StartDate.ToString("dd/MM/yyyy")','@indexof', '@obj.FareAdt' , '@(obj.TaxAdt + obj.FeeAdt)' , '@obj.FareChd' , '@(obj.TaxChd + obj.FeeChd)' , '@obj.FareInf' , '@(obj.TaxInf + obj.FeeInf)' , '@obj.SessionAll' , '@obj.Airline') ">
                                                            @i.Day <p class="vvFare">@UIUty.catgia(obj.FareAdt + obj.FeeAdt + obj.TaxAdt)</p>
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    @i.Day
                                                }
                                                indexthu = 7;
                                            }


                                        </td>
                                    }
                                    if (indexthu == 0)
                                    {
                                        <td class="@((i.Date < DateTime.Now.Date) ? "vvDayBlank" : "")">

                                            @if (i.DayOfWeek == DayOfWeek.Sunday)
                                            {
                                                var obj = GetChieuDiTHeoNgay(i.Date).FirstOrDefault();
                                                if (obj != null)
                                                {
                                                    var indexof = Model.DepartureFlightsVeThang.IndexOf(obj);
                                                    <div class="hovershow">
                                                        <div onclick="SelectedDepartFlights('@(UIUty.getnameday(obj.EndDate)+" "+  obj.EndDate.ToString("dd/MM/yyyy"))','@(UIUty.getnameday(obj.StartDate)+" "+  obj.StartDate.ToString("dd/MM/yyyy"))','@obj.EndDate.ToString("HH:mm")','@obj.StartDate.ToString("HH:mm")','@obj.FlightNumber','@UIUty.GetImagebyHang(obj.Airline)','@obj.StartDate.ToString("dd/MM/yyyy")','@indexof', '@obj.FareAdt' , '@(obj.TaxAdt + obj.FeeAdt)' , '@obj.FareChd' , '@(obj.TaxChd + obj.FeeChd)' , '@obj.FareInf' , '@(obj.TaxInf + obj.FeeInf)' , '@obj.SessionAll' , '@obj.Airline') ">
                                                            @i.Day
                                                            <p class="vvFare">@UIUty.catgia(obj.FareAdt + obj.FeeAdt + obj.TaxAdt)</p>

                                                        </div>
                                                    </div> }
                                                else
                                                {
                                                    @i.Day
                                                }
                                                indexthu = 8;
                                                ngaycuoiccungrow1 = i;
                                            }


                                        </td>
                                    }
                                }
                                else
                                {

                                    var obj = GetChieuDiTHeoNgay(i.Date).FirstOrDefault();
                                    <td class="@((i.Date < DateTime.Now.Date) ? "vvDayBlank" : "")">


                                        @if (obj != null)
                                        {
                                            var indexof = Model.DepartureFlightsVeThang.IndexOf(obj);
                                            <div class="hovershow">
                                                <div onclick="SelectedDepartFlights('@(UIUty.getnameday(obj.EndDate)+" "+  obj.EndDate.ToString("dd/MM/yyyy"))','@(UIUty.getnameday(obj.StartDate)+" "+  obj.StartDate.ToString("dd/MM/yyyy"))','@obj.EndDate.ToString("HH:mm")','@obj.StartDate.ToString("HH:mm")','@obj.FlightNumber','@UIUty.GetImagebyHang(obj.Airline)','@obj.StartDate.ToString("dd/MM/yyyy")','@indexof', '@obj.FareAdt' , '@(obj.TaxAdt + obj.FeeAdt)' , '@obj.FareChd' , '@(obj.TaxChd + obj.FeeChd)' , '@obj.FareInf' , '@(obj.TaxInf + obj.FeeInf)' , '@obj.SessionAll' , '@obj.Airline') ">
                                                    @i.Day
                                                    <p class="vvFare">@UIUty.catgia(obj.FareAdt + obj.FeeAdt + obj.TaxAdt)</p>

                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            @i.Day
                                        }
                                        @if (i.DayOfWeek == DayOfWeek.Monday)
                                        {
                                            indexthu = 2;
                                        }
                                        @if (i.DayOfWeek == DayOfWeek.Tuesday)
                                        { indexthu = 3; }
                                        @if (i.DayOfWeek == DayOfWeek.Wednesday)
                                        { indexthu = 4; }
                                        @if (i.DayOfWeek == DayOfWeek.Thursday)
                                        { indexthu = 5; }
                                        @if (i.DayOfWeek == DayOfWeek.Friday)
                                        { indexthu = 6; }
                                        @if (i.DayOfWeek == DayOfWeek.Saturday)
                                        { indexthu = 7; }
                                        @if (i.DayOfWeek == DayOfWeek.Sunday)
                                        { indexthu = 8; }

                                    </td>
                                }

                                if (indexthu == 0 || indexthu == 8)
                                {
                                    @Html.Raw("</tr>")
                                }

                            }



                                </tbody>
                            </table>
                        </div>
                        if (Model.Itinerary > 1)
                        {
                            indexthu = 0;
                            <div id="return" class="row" style="margin-top:20px">

                                <table cellspacing="0" cellpadding="0" class="vere veve">
                                    <thead>
                                        <tr>
                                            <th align="left" class="vvPrev" style="height:40px;border:none">


                                            </th>
                                            <th align="center" colspan="5" style="height: 40px; border: none; text-align: center;"><b style="text-align: center">Chiều về: @UIUty.getmountday(dauthang_ngayve)</b></th>
                                            <th align="right" class="vvNext" style="height:40px;border:none;float: right;padding-top: 5px;">

                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="background-color: #ebebeb">
                                            <th style="text-align: center; padding: 6px;">T2</th>
                                            <th style="text-align: center; padding: 6px;">T3</th>
                                            <th style="text-align: center; padding: 6px;">T4</th>
                                            <th style="text-align: center; padding: 6px;">T5</th>
                                            <th style="text-align: center; padding: 6px;">T6</th>
                                            <th style="text-align: center; padding: 6px;">T7</th>
                                            <th style="text-align: center; padding: 6px;">CN</th>
                                        </tr>
                                        @for (var i = dauthang_ngayve; i <= cuoithang_ngayve; i = i.AddDays(1))
                                        {
                                            if (indexthu == 0 || indexthu == 8)
                                            {
                                                @Html.Raw("<tr>")
                                                rowindex++;
                                            }
                                            if (i == dauthang_ngayve)
                                            {
                                                if (indexthu == 0)
                                                {
                                                <td class="@((i.Date < DateTime.Now.Date) ? "vvDayBlank" : "")">

                                                    @{
                                                        if (i.DayOfWeek == DayOfWeek.Monday)
                                                        {
                                                            var obj = GetChieuveTHeoNgay(i.Date).FirstOrDefault();
                                                            if (obj != null)
                                                            {
                                                                var indexof = Model.ReturnFlightsVeThang.IndexOf(obj);
                                                                <div class="hovershow">
                                                                    <div onclick="SelectedReturnFlights('@(UIUty.getnameday(obj.EndDate)+" "+  obj.EndDate.ToString("dd/MM/yyyy"))','@(UIUty.getnameday(obj.StartDate)+" "+  obj.StartDate.ToString("dd/MM/yyyy"))','@obj.EndDate.ToString("HH:mm")','@obj.StartDate.ToString("HH:mm")','@obj.FlightNumber','@UIUty.GetImagebyHang(obj.Airline)','@obj.StartDate.ToString("dd/MM/yyyy")','@indexof', '@obj.FareAdt' , '@(obj.TaxAdt + obj.FeeAdt)' , '@obj.FareChd' , '@(obj.TaxChd + obj.FeeChd)' , '@obj.FareInf' , '@(obj.TaxInf + obj.FeeInf)' , '@obj.SessionAll' , '@obj.Airline') ">
                                                                        @i.Day
                                                                        <p class="vvFare">@UIUty.catgia(obj.FareAdt + obj.FeeAdt + obj.TaxAdt)</p>

                                                                    </div>
                                                                </div> }
                                                            else
                                                            {
                                                                @i.Day
                                                            }
                                                            indexthu = 2;


                                                        }
                                                    }

                                                </td>
                                            }
                                            if (indexthu == 0)
                                            {
                                                <td class="@((i.Date < DateTime.Now.Date) ? "vvDayBlank" : "")">

                                                    @{
                                                        if (i.DayOfWeek == DayOfWeek.Tuesday)
                                                        {
                                                            var obj = GetChieuveTHeoNgay(i.Date).FirstOrDefault();
                                                            if (obj != null)
                                                            {
                                                                var indexof = Model.ReturnFlightsVeThang.IndexOf(obj);
                                                                <div class="hovershow">
                                                                    <div onclick="SelectedReturnFlights('@(UIUty.getnameday(obj.EndDate)+" "+  obj.EndDate.ToString("dd/MM/yyyy"))','@(UIUty.getnameday(obj.StartDate)+" "+  obj.StartDate.ToString("dd/MM/yyyy"))','@obj.EndDate.ToString("HH:mm")','@obj.StartDate.ToString("HH:mm")','@obj.FlightNumber','@UIUty.GetImagebyHang(obj.Airline)','@indexof', '@obj.FareAdt' , '@(obj.TaxAdt + obj.FeeAdt)' , '@obj.FareChd' , '@(obj.TaxChd + obj.FeeChd)' , '@obj.FareInf' , '@(obj.TaxInf + obj.FeeInf)' , '@obj.SessionAll' , '@obj.Airline') ">
                                                                        @i.Day
                                                                        <p class="vvFare">
                                                                            @((obj.FareAdt + obj.FeeAdt + obj.TaxAdt).ToString("#,0.#"))
                                                                        </p>

                                                                    </div>
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                @i.Day
                                                            }
                                                            indexthu = 3;
                                                        }
                                                    }

                                                </td>
                                            }
                                            if (indexthu == 0)
                                            {
                                                <td class="@((i.Date < DateTime.Now.Date) ? "vvDayBlank" : "")">
                                                    @{
                                                        if (i.DayOfWeek == DayOfWeek.Wednesday)
                                                        {
                                                            var obj = GetChieuveTHeoNgay(i.Date).FirstOrDefault();
                                                            if (obj != null)
                                                            {
                                                                var indexof = Model.ReturnFlightsVeThang.IndexOf(obj);
                                                                <div class="hovershow">
                                                                    <div onclick="SelectedReturnFlights('@(UIUty.getnameday(obj.EndDate)+" "+  obj.EndDate.ToString("dd/MM/yyyy"))','@(UIUty.getnameday(obj.StartDate)+" "+  obj.StartDate.ToString("dd/MM/yyyy"))','@obj.EndDate.ToString("HH:mm")','@obj.StartDate.ToString("HH:mm")','@obj.FlightNumber','@UIUty.GetImagebyHang(obj.Airline)','@obj.StartDate.ToString("dd/MM/yyyy")','@indexof', '@obj.FareAdt' , '@(obj.TaxAdt + obj.FeeAdt)' , '@obj.FareChd' , '@(obj.TaxChd + obj.FeeChd)' , '@obj.FareInf' , '@(obj.TaxInf + obj.FeeInf)' , '@obj.SessionAll' , '@obj.Airline') ">
                                                                        @i.Day
                                                                        <p class="vvFare">@UIUty.catgia(obj.FareAdt + obj.FeeAdt + obj.TaxAdt)</p>

                                                                    </div>

                                                                </div> }
                                                            else
                                                            {
                                                                @i.Day
                                                            }
                                                            indexthu = 4;
                                                        }
                                                    }

                                                </td>
                                            }
                                            if (indexthu == 0)
                                            {
                                                <td class="@((i.Date < DateTime.Now.Date) ? "vvDayBlank" : "")">

                                                    @{
                                                        if (i.DayOfWeek == DayOfWeek.Thursday)
                                                        {
                                                            var obj = GetChieuveTHeoNgay(i.Date).FirstOrDefault();
                                                            if (obj != null)
                                                            {
                                                                var indexof = Model.ReturnFlightsVeThang.IndexOf(obj);
                                                                <div class="hovershow">
                                                                    <div onclick="SelectedReturnFlights('@(UIUty.getnameday(obj.EndDate)+" "+  obj.EndDate.ToString("dd/MM/yyyy"))','@(UIUty.getnameday(obj.StartDate)+" "+  obj.StartDate.ToString("dd/MM/yyyy"))','@obj.EndDate.ToString("HH:mm")','@obj.StartDate.ToString("HH:mm")','@obj.FlightNumber','@UIUty.GetImagebyHang(obj.Airline)','@obj.StartDate.ToString("dd/MM/yyyy")','@indexof', '@obj.FareAdt' , '@(obj.TaxAdt + obj.FeeAdt)' , '@obj.FareChd' , '@(obj.TaxChd + obj.FeeChd)' , '@obj.FareInf' , '@(obj.TaxInf + obj.FeeInf)' , '@obj.SessionAll' , '@obj.Airline') ">
                                                                        @i.Day
                                                                        <p class="vvFare">@UIUty.catgia(obj.FareAdt + obj.FeeAdt + obj.TaxAdt)</p>

                                                                    </div>


                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                @i.Day
                                                            }
                                                            indexthu = 5;
                                                        }
                                                    }

                                                </td>
                                            }
                                            if (indexthu == 0)
                                            {
                                                <td class="@((i.Date < DateTime.Now.Date) ? "vvDayBlank" : "")">
                                                    @{
                                                        if (i.DayOfWeek == DayOfWeek.Friday)
                                                        {
                                                            var obj = GetChieuveTHeoNgay(i.Date).FirstOrDefault();
                                                            if (obj != null)
                                                            {
                                                                var indexof = Model.ReturnFlightsVeThang.IndexOf(obj);
                                                                <div class="hovershow">
                                                                    <div onclick="SelectedReturnFlights('@(UIUty.getnameday(obj.EndDate)+" "+  obj.EndDate.ToString("dd/MM/yyyy"))','@(UIUty.getnameday(obj.StartDate)+" "+  obj.StartDate.ToString("dd/MM/yyyy"))','@obj.EndDate.ToString("HH:mm")','@obj.StartDate.ToString("HH:mm")','@obj.FlightNumber','@UIUty.GetImagebyHang(obj.Airline)','@obj.StartDate.ToString("dd/MM/yyyy")','@indexof', '@obj.FareAdt' , '@(obj.TaxAdt + obj.FeeAdt)' , '@obj.FareChd' , '@(obj.TaxChd + obj.FeeChd)' , '@obj.FareInf' , '@(obj.TaxInf + obj.FeeInf)' , '@obj.SessionAll' , '@obj.Airline') ">
                                                                        @i.Day
                                                                        <p class="vvFare">@UIUty.catgia(obj.FareAdt + obj.FeeAdt + obj.TaxAdt)</p>

                                                                    </div>

                                                                </div> }
                                                            else
                                                            {
                                                                @i.Day
                                                            }
                                                            indexthu = 6;
                                                        }
                                                    }

                                                </td>
                                            }
                                            if (indexthu == 0)
                                            {
                                                <td class="@((i.Date < DateTime.Now.Date) ? "vvDayBlank" : "")">
                                                    @{
                                                        if (i.DayOfWeek == DayOfWeek.Saturday)
                                                        {
                                                            var obj = GetChieuveTHeoNgay(i.Date).FirstOrDefault();
                                                            if (obj != null)
                                                            {
                                                                var indexof = Model.ReturnFlightsVeThang.IndexOf(obj);
                                                                <div class="hovershow">
                                                                    <div onclick="SelectedReturnFlights('@(UIUty.getnameday(obj.EndDate)+" "+  obj.EndDate.ToString("dd/MM/yyyy"))','@(UIUty.getnameday(obj.StartDate)+" "+  obj.StartDate.ToString("dd/MM/yyyy"))','@obj.EndDate.ToString("HH:mm")','@obj.StartDate.ToString("HH:mm")','@obj.FlightNumber','@UIUty.GetImagebyHang(obj.Airline)','@obj.StartDate.ToString("dd/MM/yyyy")','@indexof', '@obj.FareAdt' , '@(obj.TaxAdt + obj.FeeAdt)' , '@obj.FareChd' , '@(obj.TaxChd + obj.FeeChd)' , '@obj.FareInf' , '@(obj.TaxInf + obj.FeeInf)' , '@obj.SessionAll' , '@obj.Airline') ">
                                                                        @i.Day
                                                                        <p class="vvFare"> @UIUty.catgia(obj.FareAdt + obj.FeeAdt + obj.TaxAdt) </p>

                                                                    </div>

                                                                </div> }
                                                            else
                                                            {
                                                                @i.Day
                                                            }
                                                            indexthu = 7;
                                                        }
                                                    }

                                                </td>
                                            }
                                            if (indexthu == 0)
                                            {
                                                <td class="@((i.Date < DateTime.Now.Date) ? "vvDayBlank" : "")">
                                                    @{
                                                        if (i.DayOfWeek == DayOfWeek.Sunday)
                                                        {
                                                            var obj = GetChieuveTHeoNgay(i.Date).FirstOrDefault();
                                                            if (obj != null)
                                                            {
                                                                var indexof = Model.ReturnFlightsVeThang.IndexOf(obj);
                                                                <div class="hovershow">
                                                                    <div onclick="SelectedReturnFlights('@(UIUty.getnameday(obj.EndDate)+" "+  obj.EndDate.ToString("dd/MM/yyyy"))','@(UIUty.getnameday(obj.StartDate)+" "+  obj.StartDate.ToString("dd/MM/yyyy"))','@obj.EndDate.ToString("HH:mm")','@obj.StartDate.ToString("HH:mm")','@obj.FlightNumber','@UIUty.GetImagebyHang(obj.Airline)','@obj.StartDate.ToString("dd/MM/yyyy")','@indexof', '@obj.FareAdt' , '@(obj.TaxAdt + obj.FeeAdt)' , '@obj.FareChd' , '@(obj.TaxChd + obj.FeeChd)' , '@obj.FareInf' , '@(obj.TaxInf + obj.FeeInf)' , '@obj.SessionAll' , '@obj.Airline') ">
                                                                        @i.Day
                                                                        <p class="vvFare">@UIUty.catgia(obj.FareAdt + obj.FeeAdt + obj.TaxAdt)</p>

                                                                    </div>

                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                @i.Day
                                                            }
                                                            indexthu = 8;
                                                            ngaycuoiccungrow1 = i;
                                                        }
                                                    }

                                                </td>
                                            }
                                        }
                                        else
                                        {

                                            var obj = GetChieuveTHeoNgay(i.Date).FirstOrDefault();
                                            <td class="@((i.Date < DateTime.Now.Date) ? "vvDayBlank" : "")">

                                                @if (obj != null)
                                                {
                                                    var indexof = Model.ReturnFlightsVeThang.IndexOf(obj);
                                                    <div class="hovershow">
                                                        <div onclick="SelectedReturnFlights('@(UIUty.getnameday(obj.EndDate)+" "+  obj.EndDate.ToString("dd/MM/yyyy"))','@(UIUty.getnameday(obj.StartDate)+" "+  obj.StartDate.ToString("dd/MM/yyyy"))','@obj.EndDate.ToString("HH:mm")','@obj.StartDate.ToString("HH:mm")','@obj.FlightNumber','@UIUty.GetImagebyHang(obj.Airline)','@obj.StartDate.ToString("dd/MM/yyyy")','@indexof', '@obj.FareAdt' , '@(obj.TaxAdt + obj.FeeAdt)' , '@obj.FareChd' , '@(obj.TaxChd + obj.FeeChd)' , '@obj.FareInf' , '@(obj.TaxInf + obj.FeeInf)' , '@obj.SessionAll' , '@obj.Airline') ">
                                                            @i.Day
                                                            <p class="vvFare">@UIUty.catgia(obj.FareAdt + obj.FeeAdt + obj.TaxAdt)</p>

                                                        </div>

                                                    </div>
                                                }
                                                else
                                                {
                                                    @i.Day
                                                }
                                                @if (i.DayOfWeek == DayOfWeek.Monday)
                                                {
                                                    indexthu = 2;
                                                }
                                                @if (i.DayOfWeek == DayOfWeek.Tuesday)
                                                {
                                                    indexthu = 3;
                                                }
                                                @if (i.DayOfWeek == DayOfWeek.Wednesday)
                                                {
                                                    indexthu = 4;
                                                }
                                                @if (i.DayOfWeek == DayOfWeek.Thursday)
                                                {
                                                    indexthu = 5;
                                                }
                                                @if (i.DayOfWeek == DayOfWeek.Friday)
                                                {
                                                    indexthu = 6;
                                                }
                                                @if (i.DayOfWeek == DayOfWeek.Saturday)
                                                {
                                                    indexthu = 7;
                                                }
                                                @if (i.DayOfWeek == DayOfWeek.Sunday)
                                                {
                                                    indexthu = 8;
                                                }

                                            </td>
                                        }

                                        if (indexthu == 0 || indexthu == 8)
                                        {
                                            @Html.Raw("</tr>")
                                        }

                                    }

                                        </tbody>
                                    </table>
                                </div> }
                        }
                        else
                        {
                            <div class="NormalBox">
                                <div class="Title">
                                    @VDMMutiline.Resource.App_GlobalResources.weblanguage.No_flights_found
                                </div>
                                <div class="Content">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    @Html.Raw(VDMMutiline.Resource.App_GlobalResources.weblanguage.MSG_No_flights_found)
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }

                <div class="clear"></div>
            </div>
            <div id="giohang" class="row">
                <div class="box_top">Bạn đã chọn</div>
                <div class="WhiteBox NoTop border-radius-bottom" style="padding-bottom:10px">
                    <div class="col-md-12" style="    margin-top: 15px;">
                        <table style="width:100%;border-bottom: 1px dotted #cacaca;" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td style="padding-right: 5px;padding-bottom: 10px;">
                                        <span> ✈ Chuyến đi:</span> <span>  <img id="imgDepartAirline" src="" style="height:18px;border-width:0px;"></span>
                                    </td>
                                    <td>
                                        <span id="ctl00_MainContent_lblDepartAirline"></span>
                                    </td>
                                    <td style="text-align:right;padding-bottom: 10px;font-weight:bold">
                                        ✈ <span id="lblDepartFlightNumber"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="border-bottom: 1px dotted #cacaca">
                            <table style="width:100%">
                                <tbody>
                                    <tr>
                                        <td class="BasketFlightDepart" valign="top">
                                            <div class="BasketFlightTime"><span><b style="padding-right:10px" id="Departstart">@Model.DepartureAirportCode</b></span><div class="fa fa-clock-o"></div> <span id="lblDepartStartTime"></span></div>
                                            <span id="lblDepartStartDate" style="font-size:13px;"></span>
                                            <div style="font-size:13px;">@(getsanbaycode(Model.DepartureAirportCode))</div>
                                        </td>
                                        <td class="BasketFlightArrive" valign="top" style="    padding-left: 10px;">
                                            <div class="BasketFlightTime"><span><b style="padding-right:10px" id="Endtstart"> @Model.DestinationAirportCode</b></span><div class="fa fa-clock-o"></div> <span id="lblDepartEndTime"></span></div>
                                            <span id="lblDepartEndDate" style="font-size:13px;"></span>
                                            <div style="font-size:13px;">@(getsanbaycode(Model.DestinationAirportCode))</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    @if (Model.Itinerary > 1)
                    {
                        <div class="col-md-12" style="    margin-top: 15px;">
                            <table style="width:100%;border-bottom: 1px dotted #cacaca;" border="0" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td style="padding-right: 5px;padding-bottom: 10px;">
                                            <span> ✈ Chuyến về: </span>  <span>  <img id="imgreturnAirline" src="" style="height:18px;border-width:0px;"></span>
                                        </td>
                                        <td></td>
                                        <td style="text-align:right;padding-bottom: 10px;font-weight:bold">
                                            ✈ <span id="lblreturnFlightNumber"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div style="border-bottom: 1px dotted #cacaca">
                                <table style="width:100%">
                                    <tbody>
                                        <tr>
                                            <td class="BasketFlightDepart" valign="top">
                                                <div class="BasketFlightTime"><span><b style="padding-right:10px" id="Returnstart">@(Model.DestinationAirportCode)</b></span><div class="fa fa-clock-o"></div> <span id="lblReturnStartTime"></span></div>
                                                <span id="lblReturnStartDate" style="font-size:11px;"></span>
                                                <div style="font-size:13px;">@(getsanbaycode(Model.DestinationAirportCode))</div>
                                            </td>
                                            <td class="BasketFlightArrive" valign="top" style="    padding-left: 10px;">
                                                <div class="BasketFlightTime"><b style="padding-right:10px" id="Returnend">@(Model.DepartureAirportCode) </b><div class="fa fa-clock-o"></div> <span id="lblReturnEndTime"></span></div>
                                                <span id="lblReturnEndDate" style="font-size:11px;"></span>
                                                <div style="font-size:13px;">@(getsanbaycode(Model.DepartureAirportCode))</div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    }


                </div>
                <div class="box_top">@VDMMutiline.Resource.App_GlobalResources.weblanguage.Summary_fares</div>
                <div class="row WhiteBox NoTop border-radius-bottom" style="padding-bottom:10px">
                    <div class=" col-md-12 ">
                        <div class=" BorderTop BasketPrice" style="padding-top:0px">

                            <table style="width:100%;border-bottom: 1px dotted #cacaca;">
                                <tbody>
                                    <tr>
                                        <td style="width: 75px;"><strong>@VDMMutiline.Resource.App_GlobalResources.weblanguage.Adults</strong></td>
                                        <td style="    padding-top: 5px;">

                                            <span id="lblTotalAdt">@Model.Adult</span>x(<label id="lblFareAdt" class="ItemPrice">0</label>+<label id="lblTaxAdt" class="ItemPrice">0</label>)
                                        </td>
                                        <td style="text-align: right;padding-top: 5px;">

                                            <label id="lblTotalPriceAdt" class="ItemPrice"></label> <span class="Currency">@Model.Currency</span>
                                        </td>
                                    </tr>

                                    @if (Model.Children > 0)
                                    {

                                        <tr>
                                            <td><strong>@VDMMutiline.Resource.App_GlobalResources.weblanguage.Children</strong></td>
                                            <td style="padding-top: 5px;">
                                                <span id="lblTotalChd">@Model.Children</span>x(<label id="lblFareChd" class="ItemPrice">0</label>+<label id="lblTaxChd" class="ItemPrice">0</label>)
                                            </td>
                                            <td style="text-align:right;padding-top: 5px;">

                                                <label id="lblTotalPriceChd" class="ItemPrice"></label> <span class="Currency">@Model.Currency</span>
                                            </td>
                                        </tr>

                                    }
                                    @if (Model.Infant > 0)
                                    {

                                        <tr>
                                            <td><strong>@VDMMutiline.Resource.App_GlobalResources.weblanguage.Infants</strong></td>
                                            <td style="padding-top: 5px;">
                                                <span id="lblTotalInf">@Model.Infant</span>x(<label id="lblFareInf" class="ItemPrice">0</label>+<label id="lblTaxInf" class="ItemPrice">0</label>)
                                            </td>
                                            <td style="text-align:right;padding-top: 5px;">
                                                <label id="lblTotalPriceInf" class="ItemPrice"></label> <span class="Currency">@Model.Currency</span>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="  BasketPrice" style="border:none">
                            <table style="padding-top:0px;margin-bottom: 9px;width:100%">
                                <tbody>
                                    <tr>
                                        <td>
                                            ∑ <strong>@VDMMutiline.Resource.App_GlobalResources.weblanguage.GRAND_TOTAL</strong>
                                        </td>
                                        <td class="GrandPrice" style="    text-align: right;    border-top: none;">
                                            <label id="lblGrandTotal"></label> <span class="Currency"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class=" BorderTop BasketPrice">
                            <span id="lblMsg" style="color: Red;"></span><br>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="tab" style="background-color: #f4f4f4;margin-bottom: 0px;border: none;">
                <div style="padding-top: 10px;padding-bottom: 10px"><span id="lblMsg"></span></div>
                <div class="row bottom log3">
                    <button type="submit" class="btt" style="color:  #fff;font-size: 1.8em;font-weight: 100;">Tiếp tục</button>
                </div>
            </div>
        </section>
    </div>
}





<script>
    $( '.vedi td' ).each( function () {
        $( this ).click( function () {
            $( '.vedi td' ).removeClass( 'vereActive' );
            $( this ).addClass( 'vereActive' );
        } );

    } );
    $( '.veve td' ).each( function () {
        $( this ).click( function () {
            $( '.veve td' ).removeClass( 'vereActive' );
            $( this ).addClass( 'vereActive' );
        } );

    } );
</script>
<script>
    function validateForm() {
        var check = true;
        var Itinerary = @Model.Itinerary;
        if (Itinerary > 1) {
            var DepartFlt = $("#hdfSelectedDepartFlt").val();
            var ReturnFlt = $("#hdfSelectedReturnFlt").val();
            if (DepartFlt == "" || ReturnFlt == "") {
                check = false;
                ScrollToControlById('SearchParamDomesticDepart');
                $("#lblMsg").text("Bạn hãy chọn vé đi và vé về.");

            }
        } else {
            var DepartFlt = $("#hdfSelectedDepartFlt").val();
            if (DepartFlt == "" ) {
                check = false;
                ScrollToControlById('SearchParamDomesticDepart');
                $("#lblMsg").text("Bạn hãy chọn vé đi và vé về.");
            }
        }
        return check;

    }
    function SelectedDepartFlights(lblDepartEndDate,lblDepartStartDate,lblDepartEndTime,lblDepartStartTime,lblDepartFlightNumber,anh,ngay,value, fareAdtDepart, taxAdtDepart, fareChdDepart, taxChdDepart, fareInfDepart, taxInfDepart, hdhSession, CodeDepart) {
        //Set depart price to hidden field

        $("#hdfFareAdtDepart").val(fareAdtDepart);
        $("#hdfFareChdDepart").val(fareChdDepart);
        $("#hdfFareInfDepart").val(fareInfDepart);
        $("#hdhSession").val(hdhSession);
        $("#hdfTaxAdtDepart").val(taxAdtDepart);
        $("#hdfTaxChdDepart").val(taxChdDepart);
        $("#hdfTaxInfDepart").val(taxInfDepart);
        $("#hdhCodeDepart").val(CodeDepart);
        $("#hdfSelectedDepartFlt").val('');
        $("#hdfSelectedDepartFlt").val(value);
        fareAdtDepart = Number(fareAdtDepart.replace(",","."));
        fareChdDepart = Number(fareChdDepart.replace(",", "."));
        fareInfDepart = Number(fareInfDepart.replace(",", "."));

        taxAdtDepart = Number(taxAdtDepart.replace(",", "."));
        taxChdDepart = Number(taxChdDepart.replace(",", "."));
        taxInfDepart = Number(taxInfDepart.replace(",", "."));

        //Get return price from hidden field
        var fareAdtReturn = Number($("#hdfFareAdtReturn").val().replace(",", "."));
        var fareChdReturn = Number($("#hdfFareChdReturn").val().replace(",", "."));
        var fareInfReturn = Number($("#hdfFareInfReturn").val().replace(",", "."));

        var taxAdtReturn = Number($("#hdfTaxAdtReturn").val().replace(",", "."));
        var taxChdReturn = Number($("#hdfTaxChdReturn").val().replace(",", "."));
        var taxInfReturn = Number($("#hdfTaxInfReturn").val().replace(",", "."));

        //Calculate sum of depart price and return price
        var fareAdt = fareAdtDepart + fareAdtReturn;
        var fareChd = fareChdDepart + fareChdReturn;
        var fareInf = fareInfDepart + fareInfReturn;

        var taxAdt = taxAdtDepart + taxAdtReturn;
        var taxChd = taxChdDepart + taxChdReturn;
        var taxInf = taxInfDepart + taxInfReturn;

        SetPricevethang(fareAdt, taxAdt, fareChd, taxChd, fareInf, taxInf);
        $("#ngaydi").text(ngay);
        $("#anhdi").attr("src", anh);
        $("#imgDepartAirline").attr("src", anh);
        $("#lblDepartFlightNumber").text(lblDepartFlightNumber);
        $("#lblDepartStartTime").text(lblDepartStartTime);
        $("#lblDepartEndTime").text(lblDepartEndTime);
        $("#lblDepartStartDate").text(lblDepartStartDate);
        $("#lblDepartStartDate").text(lblDepartStartDate);
        $("#lblDepartEndDate").text(lblDepartEndDate);

        var itinerarys = @Model.Itinerary;
        if (itinerarys != 2) {
            ScrollToControlById('giohang');
        } else {
            ScrollToControlById('return');
        }
    }


    function SetPricevethang(fareAdt, taxAdt, fareChd, taxChd, fareInf, taxInf) {
        var adt = Number($("#lblTotalAdt").text());
        var chd = Number($("#lblTotalChd").text());
        var inf = Number($("#lblTotalInf").text());

        //Set price for each passenger type
        $("#lblFareAdt").text(format("#.##0,####", fareAdt));
        $("#lblFareChd").text(format("#.##0,####", fareChd));
        $("#lblFareInf").text(format("#.##0,####", fareInf));

        $("#lblTaxAdt").text(format("#.##0,####", taxAdt));
        $("#lblTaxChd").text(format("#.##0,####", taxChd));
        $("#lblTaxInf").text(format("#.##0,####", taxInf));

        //Set total price for each passenger type
        $("#lblTotalPriceAdt").text(format("#.##0,####", adt * (fareAdt + taxAdt)));
        $("#lblTotalPriceChd").text(format("#.##0,####", chd * (fareChd + taxChd)));
        $("#lblTotalPriceInf").text(format("#.##0,####", inf * (fareInf + taxInf)));

        //Grand total price
        var grandTotal = adt * (fareAdt + taxAdt) + chd * (fareChd + taxChd) + inf * (fareInf + taxInf);
        $("#lblGrandTotal").text(format("#.##0,####", grandTotal));
        $("#totalPrice").text(format("#.##0,####", grandTotal));
    }
    function SelectedReturnFlights(lblDepartEndDate, lblDepartStartDate, lblDepartEndTime, lblDepartStartTime, lblDepartFlightNumber,anh,ngay,value, fareAdtReturn, taxAdtReturn, fareChdReturn, taxChdReturn, fareInfReturn, taxInfReturn, CodeReturn) {
        //Set depart price to hidden field
        $("#hdfFareAdtReturn").val(fareAdtReturn);
        $("#hdfFareChdReturn").val(fareChdReturn);
        $("#hdfFareInfReturn").val(fareInfReturn);

        $("#hdfTaxAdtReturn").val(taxAdtReturn);
        $("#hdfTaxChdReturn").val(taxChdReturn);
        $("#hdfTaxInfReturn").val(taxInfReturn);
        $("#hdhCodeReturn").val(CodeReturn);
        fareAdtReturn = Number(fareAdtReturn.replace(",", "."));
        fareChdReturn = Number(fareChdReturn.replace(",", "."));
        fareInfReturn = Number(fareInfReturn.replace(",", "."));

        taxAdtReturn = Number(taxAdtReturn.replace(",", "."));
        taxChdReturn = Number(taxChdReturn.replace(",", "."));
        taxInfReturn = Number(taxInfReturn.replace(",", "."));

        //Get depart price from hidden field
        var fareAdtDepart = Number($("#hdfFareAdtDepart").val().replace(",", "."));
        var fareChdDepart = Number($("#hdfFareChdDepart").val().replace(",", "."));
        var fareInfDepart = Number($("#hdfFareInfDepart").val().replace(",", "."));

        var taxAdtDepart = Number($("#hdfTaxAdtDepart").val().replace(",", "."));
        var taxChdDepart = Number($("#hdfTaxChdDepart").val().replace(",", "."));
        var taxInfDepart = Number($("#hdfTaxInfDepart").val().replace(",", "."));

        //Calculate sum of depart price and return price
        var fareAdt = fareAdtDepart + fareAdtReturn;
        var fareChd = fareChdDepart + fareChdReturn;
        var fareInf = fareInfDepart + fareInfReturn;

        var taxAdt = taxAdtDepart + taxAdtReturn;
        var taxChd = taxChdDepart + taxChdReturn;
        var taxInf = taxInfDepart + taxInfReturn;
        $("#ngayve").text(ngay);
        $("#anhve").attr("src", anh);
        SetPricevethang(fareAdt, taxAdt, fareChd, taxChd, fareInf, taxInf);
        $("#hdfSelectedReturnFlt").val(value);


        $("#imgreturnAirline").attr("src", anh);
        $("#lblreturnFlightNumber").text(lblDepartFlightNumber);
        $("#lblReturnStartTime").text(lblDepartStartTime);
        $("#lblReturnEndTime").text(lblDepartEndTime);
        $("#lblReturnStartDate").text(lblDepartStartDate);
        $("#lblReturnEndDate").text(lblDepartEndDate);


    }
    $(function(){
        $(".hovershow").hover(function(){
            $(this).find(".depart").fadeIn();
        }
            ,function(){
                $(this).find(".depart").fadeOut();
            }
        );
    });
    function ScrollToControlById(controlId) {
        control = document.getElementById(controlId);
        var targetOffset = $(control).offset().top;
        window.scrollTo(0, targetOffset); return false;
    }
</script>

<style>
    .calendar-tooltips.depart {
        display: none;
    }
</style>