@using VDMMutiline.Ultilities
@model List<VDMMutiline.SharedComponent.EntityInfo.TblArticleInfo>
@{
    Layout = null;
}
<div class="row" style="    display: block;vertical-align: top;">
    <div class="container">
        <div class="col-md-12">
            <div class="title-h1" style="   ">
                <a href="@Url.Action("Index","FontEndTintuc")">
                    <h3 class="tieude-vh" style="color: #dba510;text-align: center;">
                        <strong>TIN TỨC</strong>
                    </h3>
                </a>
                <p style="text-align: center;">
                    <img style="float: none;" src="/Content/FontEnd/VDM/theme/image/iline.png" alt="iline" />
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <div class=" wellslide" style="position: relative;">
                <div id="owl-TINTUC" class="owl-carousel owl-theme" style="position: relative;width: 100%;padding-left: 15px;padding-right: 15px;">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-12" style="width: 100%;padding-left: 5px;padding-right: 5px;">
                            <div class="image_box">
                                <a href="@Url.Action("ChiTiet", "FontEndnew", new {key = item.SEOUrl})" style="font-size: 15px; font-weight: bold;">
                                    <img src="@item.Thumb" class="img-responsive img-tt" style="width: 100%;">
                                </a>
                                <div class="icon_goods_list"></div>
                            </div>
                            <div class="bocuc bocuc_416" style="display: block;height: 95px;vertical-align: top;
    						background: #fff url('/Content/FontEnd/VDM/theme/image/pattern_xanh.png');padding: 10px 0 0 18px;">
                                <p style="    margin-bottom: 0px;">

                                    <a href="@Url.Action("ChiTiet", "FontEndnew", new {key = item.SEOUrl})">
                                        <span style="text-decoration: none;">
                                            <span style="font-size: 19px; color: #006c98; text-decoration: underline;">
                                                @Utility.CatChuoi(item.Tenbai, 30)
                                            </span>
                                        </span>
                                    </a>
                                </p>
                                <p>
                                    @Utility.CatChuoi(item.Mota, 100)
                                </p>
                            </div>
                        </div>
                    }
                </div>
                <a id="prevowlTINTUC" class="btn prev">
                    <img src='/Content/FontEnd/VDM/theme/image/pre.png' />
                </a>

                <a id="nexowlTINTUC" class="right btn next" style="float: right;">
                    <img src='/Content/FontEnd/VDM/theme/image/next.png' />
                </a>
            </div>

            <script>
                $(document).ready(function () {
                    var owlTINTUC = $("#owl-TINTUC");
                    owlTINTUC.owlCarousel({
                        items: 3,
                        itemsDesktop: [1000, 3],
                        itemsDesktopSmall: [900, 3],
                        itemsTablet: [600, 1],
                        itemsMobile: true,

                        nav: true,
                        autoPlaySpeed: 5000,
                        navigation: false,
                        navigationText: ["prev", "next"],
                        rewindNav: true,
                        scrollPerPage: true,
                    });
                    $("#nexowlTINTUC").click(function () {
                        owlTINTUC.trigger('owl.next');
                    });
                    $("#prevowlTINTUC").click(function () {
                        owlTINTUC.trigger('owl.prev');
                    });
                });
            </script>
            <style>
                a#prevowlTINTUC {
                    position: absolute;
                    top: 31%;
                    font-size: 30px;
                    left: -10px;
                    color: #999;
                }

                a#nexowlTINTUC {
                    position: absolute;
                    top: 31%;
                    right: -10px;
                    font-size: 30px;
                    color: #999;
                }
            </style>
        </div>
    </div>
</div>
