@model VDMMutiline.Core.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<script src="/Scripts/VDMComon.js"></script>



@section Header{
    <title>Đổi mật khẩu</title>
}
<span id="cphBody_ContentPlaceHolderMainColumn_lblMessage"></span>

@using (Html.BeginForm("ChangePassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form",@id = "frmChangepassword" }))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    <div class="travelo-box" style="overflow:hidden">
        <div class="row form-group">
                <div class="col-xs-12">
                    <span class="block input-icon input-icon-right" style="color: red">
                        @ViewBag.ErrorMessage
                    </span>
                </div>
                <div class="col-xs-12">
                    <label> Tài khoản</label>
                    @Html.TextBoxFor(m => m.UserName, new { @required = "required", @class = "required input-text full-width", @placeholder = "Tài khoản", @autofocus = "autofocus" })
                </div>
                <div class="col-xs-12" style="margin-top: 10px;">
                    <label> Mật khẩu cũ</label>
                    @Html.PasswordFor(x => x.OldPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.OldPassword)
                </div>
                <div class="col-xs-12" style="margin-top: 10px;">
                    <label> Mật khẩu mới</label>
                    @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.NewPassword)
                </div>
                <div class="col-xs-12" style="margin-top: 10px;">
                    <label> Nhắc lại mật khẩu mới</label>
                    @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.ConfirmPassword)
                </div>
                <div class="col-xs-12" style="margin-top: 10px;text-align:center">
                    <button type="submit" style="width:150px !important;font-size:18px" value="Gửi ý kiến của bạn" class="full-width btnSubmit ">Đổi mật khẩu</button>
                </div>
        </div>
    </div>

}






<script type="text/javascript">
    var ChangePassword = function () {

        if ($("#NewPassword").val() !== $("#ConfirmPassword").val()) {
            ion.sound.play("metal_plate_2");
            toastr.error("Wrong Confirm password!", "Notification!");
            $("ConfirmPassword").focus();
            return;
        }
        _lwfunc.Ajax('@Url.Action("ChangePassword", "Account")', $("#frmChangepassword").serialize(), function (data) {
            if (data.isSuccess === true) {
                ion.sound.play("metal_plate_2");
                toastr.success(data.mess, "Notification!");
            } else {
                ion.sound.play("metal_plate_2");
                toastr.error(data.mess, "Notification!");
            }

        });
    }
</script>
