@model VDMMutiline.Core.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Đổi mật khẩu";
    var errorMessage = String.Empty;
    if (ViewBag.ErrorMessage != null)
    {
        errorMessage = (string)ViewBag.ErrorMessage;
    }
    Layout = null;
}
@section headerform {
    <h6 class="card-subtitle line-on-side text-muted text-xs-center font-small-3 pt-2"><span>Quên mật khẩu</span></h6>
}
<div class="card-body collapse in">
    <div class="card-block">
        @using (Html.BeginForm("ResetPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @data_parsley_validate = "", @class = "form-horizontal form-simple",  role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <fieldset class="form-group position-relative has-icon-left mb-0">
                <label style="color:red">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Code)
                    @if (!String.IsNullOrEmpty(errorMessage))
                    {
                        @Html.Raw(errorMessage)
                    }
                </label>
            </fieldset>
            <fieldset class="form-group position-relative has-icon-left mb-0">
                @Html.TextBoxFor(m => m.Email, new { @required = "required", @data_parsley_validate = "", @class = "form-control form-control-lg input-lg", autocomplete = "off", @placeholder = "Email" })
                <div class="form-control-position">
                    <i class="icon-android-mail"></i>
                </div>
            </fieldset>
            <fieldset class="form-group position-relative has-icon-left">
                @Html.PasswordFor(m => m.Password, new { @required = "required", @data_parsley_validate = "", @class = "form-control form-control-lg input-lg", @placeholder = "Mật khẩu" })
                <div class="form-control-position">
                    <i class="icon-android-lock"></i>
                </div>
            </fieldset>
            <fieldset class="form-group position-relative has-icon-left">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @required = "required", @data_parsley_validate = "", @class = "form-control form-control-lg input-lg", @placeholder = "Nhắc lại mật khẩu" })
                <div class="form-control-position">
                    <i class="icon-android-lock"></i>
                </div>
            </fieldset>
            <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="icon-unlock2"></i> Thay đổi</button>
        }
    </div>
</div>
<div class="card-footer">
    <div class="">
        <p class="float-sm-left text-xs-center m-0"><a href="@Url.Action("Login","Account")" class="card-link">Đăng nhập</a></p>
        <p class="float-sm-right text-xs-center m-0"><a href="@Url.Action("Register","Account")" class="card-link">Đăng ký tài khoản</a></p>
    </div>
</div>
