@model VDMMutiline.SharedComponent.Params.SiteInfoParam
@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<p class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2 my-1"><span>Chọn Mẫu </span></p>
<div class="card-body">
    <div class="row match-height">
        @foreach (var item in Model.SiteInfos)
        {
            <div class="col-xl-6 col-md-6 col-sm-12">
                <div class="card" style="height: 427px;">
                    <div class="card-content">
                        <img class="card-img-top img-fluid" src="@item.ThumPic" alt="Card image cap">
                        <div class="card-body" style="    padding-left: 0px;    padding-right: 0px;">
                            <h4 class="card-title">@item.SiteName</h4>
                            <p class="card-text">@item.SiteNote</p>
                            <a href="#" onclick="submitform(@item.Id)" class="btn btn-danger">Chọn mẫu</a>
                            <a href="@item.UrlDemo" style="color:#fff" target="_blank" onclick="submitform(@item.Id)" class="btn btn-success">Xem trước</a>
                        </div>
                    </div>
                </div>
            </div>
        }
        @using (Html.BeginForm("selectTempleate", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "frmselechsite", @required = "required", @data_parsley_validate = "", @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" id="siteid" name="siteid" />
        }
    </div>
</div>
<script>
    function submitform(id) {
        $('#siteid').val(id);
        $('form#frmselechsite').submit();
    }
</script>