@using VDMMutiline.SharedComponent.Constants
@using VDMMutiline.SharedComponent.EntityInfo
@using VDMMutiline.SharedComponent.Params
@using VDMMutiline.Dao
@using VDMMutiline.Ultilities
@using VDMMutiline.Core.UI
@using PagedList.Mvc
@model VDMMutiline.SharedComponent.Params.BK_TicketParamParam
@{
    VDMMutiline.Core.Models.VDMUser userinfor = null;
    userinfor = (VDMMutiline.Core.Models.VDMUser)ViewBag.userinfor;
    ViewBag.Title = "Quản lý vé";
    ViewBag.Description = "Danh vé đã đặt";
    var rowIndex = 0;
    Layout = "~/Views/Shared/_LayouQuanLyVe.cshtml";
}

<div class="card">
    
    <div class="card-content collapse show">
        <div class="card-body card-dashboard">
            <div class="form form-horizontal" style="margin-bottom: 15px;">
                @using (Html.BeginForm("DanhsachTicket", "QuanLyVeDaDat", FormMethod.Post, new { @role = "form" }))
                {
                    <div class="row">
                        <div class="col-md-4 mt-1 p-0">
                            <div>
                                <div class="form-group ">
                                    <label class="col-md-12 label-control">Thời gian đặt chỗ</label>
                                    <div class="col-md-12 position-relative mb-0">
                                        <div class="input-group">
                                            <span class="input-group-addon" style="padding-left: 15px;padding-right: 15px;">
                                                <i class="fa fa-calendar bigger-110"></i>
                                            </span>
                                            @Html.TextBoxFor(x => Model.TuNgayDenNgay, new { @class = "form-control", @placeholder = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-2 mt-1 p-0">
                            <div class="form-group ">
                                <label class="col-md-12 label-control" style="min-height: 20px"></label>
                                <div class="col-md-12 mt-2">
                                    <button type="submit" id="btnSearch" class="btn btn-info btn-block"><span class="ace-icon fa fa-search icon-on-right bigger-110"></span>Tìm kiếm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="table-responsive">
                <div class="tableconte">
                    <table id="dynamic-table" class=" booking table table-striped table-bordered zero-configuration">
                        <thead>
                            <tr>
                                <th class="sort-numeric"></th>
                                <th>Hãng</th>
                                <th>Code</th>
                                <th>Hạng vé</th>
                                <th>Số hiệu</th>
                                <th>Từ</th>
                                <th>đến</th>
                                <th>Ngày</th>
                                <th>Thời gian</th>
                                <th>Giá vé</th>
                                <th>Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.PagedList != null)
                            {
                                foreach (var item in (Model.PagedList))
                                {
                                    rowIndex++;
                                    <tr class="gradeA">
                                        <td>@rowIndex</td>
                                        <td><img class="nav-user-photo" style="width: 50px;height: 30px;" src="@(UIUty.GetImagebyHang(item.Code))" /></td>
                                        <td>@item.CodeBook</td>
                                        <td>@item.Class</td>
                                        <td>@item.FlightNo</td>
                                        <td>@item.FromCity</td>
                                        <td>@item.ToCity</td>
                                        <td>@(item.StartDate.HasValue ? item.StartDate.Value.ToString("dd/MM/yyyy") : "")</td>
                                        <td>@(item.StartDate.HasValue ? item.StartDate.Value.ToString("HH:mm") : "")</td>
                                        <td>@(item.PriceBefore.HasValue ? item.PriceBefore.Value.ToString("n0") : "")</td>
                                        <td>@item.Eror</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    @Html.PagedListPager(Model.PagedList, page => Url.Action("DanhsachTicket", new { page, thoigiandatcho = Model.TuNgayDenNgay }))
                </div>
            </div>
        </div>
    </div>
</div>

<link href="/Content/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" />
<script src="/Content/daterangepicker/daterangepicker.js"></script>
@section scripts {
    <script>
        $('#TuNgayDenNgay').daterangepicker({
            format: 'DD/MM/YYYY',
        });
    </script>
}


