@using VDMMutiline.Ultilities
@model List<VDMMutiline.SharedComponent.EntityInfo.TblArticleInfo>
@{
    Layout = null;
}

<div class="row">
    <div class="container">
        <div class="col-md-12">
            <div class="title-h1" style="   ">
                <a href="@Url.Action("Index","FontEndKhuyenMai")">
                    <h3 class="tieude-vh" style="color: #000; border-bottom: #E2C73A solid 1px;">
                        Khuyến mãi mới
                    </h3>
                </a>
            </div>
        </div>
        <div class="col-md-12">
            <div class=" wellslide" style="position: relative;">
                <div id="owl-doitachangkhong" class="owl-carousel owl-theme" style="position: relative;">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-12" style="    width: 100%;">
                            <div class="bocuc_257 " style="    width: 100%;">
                                <div class="col-md-6 col-xs-6 col-sm-6" style="padding-left: 0px;padding-right: 0px;margin-left: -10px;">
                                    <a href="@Url.Action("ChiTiet", "FontEndnew", new {key = item.SEOUrl})">
                                        <img class="img-responsive" style="border-top-left-radius: 28px;
    border-bottom-right-radius: 28px; height: 128px;" src="@item.Thumb" alt="@item.Tenbai" />
                                    </a>
                                </div>
                                <div class="col-md-6 col-xs-6 col-sm-6" style="padding-top: 20px;font-size: 10px;padding-left: 9px;padding-right: 0px;">

                                    <p style="text-align: center;">
                                        <span style="font-size: medium;color: #006886;font-size: 13px;text-align: justify;" data-mce-mark="1">
                                            <a href="@Url.Action("ChiTiet", "FontEndnew", new {key = item.SEOUrl})"> <strong>@item.Tenbai</strong></a>
                                        </span>
                                    </p>
                                    <p style="text-align: center;">
                                        <span style="font-size: small;" data-mce-mark="1">
                                            @item.SEODescription
                                        </span>
                                        <br />
                                        <span style="font-size: large;color: #dba510;font-size: 13px;" data-mce-mark="1">
                                            @if (string.IsNullOrEmpty(item.Mota))
                                            {
                                                <strong>item.Mota</strong>
                                            }
                                        </span>
                                    </p>

                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    }
                </div>
                <div class="owl-controls clickable">
                    <div class="owl-pagination">
                        <div class="owl-page active">
                            <span class="">
                            </span>
                        </div>
                        <div class="owl-page">
                            <span class="">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <a id="prevsdthkt" class="btn prev">
                <img src="/Content/FontEnd/VDM/theme/image/pre.png">
            </a>

            <a id="nextdthk" class="right btn next" style="float: right;">
                <img src="/Content/FontEnd/VDM/theme/image/next.png">
            </a>
        </div>
        <script>
            $(document).ready(function () {
                var owldoitachangkhong = $("#owl-doitachangkhong");
                owldoitachangkhong.owlCarousel({
                    items: 3,
                    itemsDesktop: [1000, 3],
                    itemsDesktopSmall: [900, 3],
                    itemsTablet: [600, 1],
                    itemsMobile: true,

                    nav: true,
                    autoPlaySpeed: 5000,
                    navigation: false,
                    navigationText: ["prev", "next"],
                    rewindNav: true,
                    scrollPerPage: true,
                });
                $("#nextdthk").click(function () {
                    owldoitachangkhong.trigger('owl.next');
                });
                $("#prevsdthkt").click(function () {
                    owldoitachangkhong.trigger('owl.prev');
                });
            });
        </script>
        <style>
            a#prevsdthkt {
                position: absolute;
                top: 31%;
                font-size: 30px;
                left: -10px;
                color: #999;
            }

            a#nextdthk {
                position: absolute;
                top: 31%;
                right: -10px;
                font-size: 30px;
                color: #999;
            }

            .bocuc_257 {
                display: inline-block;
                height: 140px;
                margin: 0 0 0 15px;
                vertical-align: top;
                background: #fff url(/Content/FontEnd/VDM/theme/image/nenvangchuan.jpg);
            }

            .bocuc_263 {
                display: inline-block;
                height: 128px;
                vertical-align: top;
            }

            .bocuc_263 {
                background: url(/files/assets/dannang01.jpg)center top no-repeat;
                left: -15px;
                border-top-left-radius: 28px;
                border-bottom-right-radius: 28px;
            }
        </style>
    </div>
</div>
