@model VDMMutiline.SharedComponent.EntityInfo.TempleteSetting.TempleateHTMLUserInfo
@{
    Layout = null;
}
@using (Html.BeginForm("UpdateSetting", "SettingsTempleateHMTL", FormMethod.Post, new { @class = "form form-horizontal", @data_parsley_validate = "", id = "frUpdateSetting", @role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.IdTempleate)
    <div class="form-body">
        <div class="col-md-4">
            <div class="form-group row">
                <div class="col-md-12">
                    <div class="form-control">
                        @Html.Raw(Model.Note)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group row">
                <div class="col-md-12">
                    <p>Lưu ý: Với những class có tên "PrintHiddenDown" sẽ bị replace thành "hidden" khi xuất ra file PDF (dùng để ẩn bớt nội dung khi xuất file PDF)</p>
                    @Html.TextAreaFor(x => x.Value, new { @rows = "48", @Required = "Required", @class = "form-control ", @placeholder = "" })
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-actions center">
            <a onclick="submitform()" class="btn btn-success btn-min-width mr-1 mb-1 actionmodal"><i class="fa fa-save"></i>Cập nhật</a>
            <button type="button" class="btn btn-dark btn-min-width mr-1 mb-1 actionmodal" data-dismiss="modal"><i class="ft-corner-down-left"></i>Đóng</button>
        </div>
    </div>
    <style>
        .cke_contents {
            height: 675px !important;
        }
    </style>

}

